.body .event-component {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: stretch;
}

.body .event-component .board-event-component {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: stretch;
  background: $whiteColor;
  border-radius: 8px;

  .board-event-376 {
    display: none;
  }

  .board-event-1280 {
    display: flex;
    flex: 0 0 319px;
    flex-direction: column;
    padding-left: 46px;

    .elem {
      display: flex;
      align-items: center;
    }

    .elem-1 {
      flex: 0 0 20px;
      margin-top: 43px;

      .el {
        display: flex;
        padding-left: 31px;
        font-weight: 500;
      }

      .el-1 {
        flex: 0 0 65px;
      }

      .el-2 {
        flex: 0 0 65px;
      }

      .el-3 {
        flex: 0 0 145px;
        background-position: left -1px;
      }
    }

    .elem-2 {
      flex: 0 0 34px;
      margin-top: 40px;
      font-weight: 700;
      font-size: 28px;
      letter-spacing: 0.04em;
    }

    .elem-3 {
      flex: 0 0 22px;
      margin-top: 16px;
      font-weight: 500;
      font-size: 18px;
    }

    .elem-4 {
      flex: 0 0 $fieldHeight;
      margin-top: 48px;
      align-items: stretch;

      .el {
        flex: 0 0 178px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;

        &.el-1 {
          margin-right: 16px;
        }

        &.el-3 {
          flex: 0 0 266px;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.buttons-board-player-component {
  .el {
    flex: 0 0 266px !important;
    &:hover {
      text-decoration: none;
    }
  }
}

@media screen and (min-width: 744px) and (max-width: 1279px){
  .body .event-component .board-event-component .board-event-1280 {
    flex: 0 0 249px;
    padding-left: 24px;

    .elem-1 {
      flex: 0 0 20px;
      margin-top: 24px;

      .el {
        display: flex;
        padding-left: 31px;
        font-size: 14px;
      }
    }

    .elem-2 {
      flex: 0 0 26px;
      margin-top: 33px;
      font-size: 22px;
    }

    .elem-4 {
      margin-top: 40px;

      .el {
        flex: 0 0 158px;
      }
    }
  }
}

@media screen and (min-width: 375px) and (max-width: 743px){
  .body .event-component {
    padding: 0 16px 25px 16px;
  }

  .body .event-component .board-event-component .board-event-1280 {
    display: none;
  }

  .body .event-component .board-event-component .board-event-376 {
    display: flex;
    flex: 0 0 239px;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: stretch;

    .elem {
      display: flex;
      align-items: center;
    }

    .elem-1 {
      flex: 0 0 60px;
      border-bottom: 1px solid #E1E1E1;
      justify-content: space-between;

      .el {
        display: flex;
        padding-left: 31px;
        font-weight: 400;
        font-size: 14px;
      }

      .el-1 {
        flex: 0 0 60px;
        margin-left: 20px;
      }

      .el-2 {
        flex: 0 0 60px;
      }

      .el-3 {
        flex: 0 0 37px;
      }

      .el-4 {
        flex: 0 0 18px;
        height: 18px;
        padding: 0;
        margin-right: 20px;
      }
    }

    .elem-2 {
      margin-top: 20px;
      font-family: 'Inter', sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 120%;
      letter-spacing: 0.04em;
    }

    .elem-3 {
      margin-top: 16px;
      font-weight: 500;
      font-size: 14px;
    }

    .elem-4 {
      margin-top: 32px;
      flex: 0 0 $fieldHeight;
      align-items: stretch;
      justify-content: stretch;
      gap: 10px;

      .el {
        flex: 1 1 auto;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        padding: 10px;
      }
      .el-3 {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .buttons-board-player-component {
    .el {
      flex: 1 1 auto !important;
    }
  }
}