.board-event-component {
  display: flex;
  flex: 0 0 319px;
  flex-direction: column;
  align-items: stretch;
  background: $whiteColor;
  border-radius: 8px;
  padding: 43px 0 48px 46px;
  box-sizing: border-box;

  .elem {
    display: flex;
    align-items: center;
  }

  .elem-1 {
    flex: 0 0 20px;
    gap: 35px;

    .el {
      display: flex;
      padding-left: 31px;
      box-sizing: border-box;
      background-position: left center;

      &.el-376 {
        display: none;
      }
    }
    .el-3 {
      background-position: left -1px;
    }
  }

  .elem-2 {
    flex: 0 0 34px;
    margin-top: 40px;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.04em;
  }
  .elem-3 {
    flex: 0 0 22px;
    margin-top: 16px;
    font-weight: 500;
    font-size: 18px;
  }
  .elem-4 {
    flex: 0 0 $fieldHeight;
    margin-top: 48px;
    align-items: stretch;
    gap: 16px;

    .el {
      flex: 0 0 178px;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;

      //&.el-1 {
      //  margin-right: 16px;
      //}

      &.el-3 {
        flex: 0 0 266px;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.buttons-board-player-component {
  .el {
    flex: 0 0 266px !important;
    &:hover {
      text-decoration: none;
    }
  }
}

@media screen and (min-width: 744px) and (max-width: 1279px){
  .board-event-component {
    flex: 0 0 249px;
    padding: 26px 0 24px 26px;

    .elem-2 {
      flex: 0 0 26px;
      margin-top: 32px;
      font-size: 22px;
    }
    .elem-4 {
      margin-top: 40px;

      .el {
        flex: 0 0 158px;
      }
    }
  }
}

@media screen and (min-width: 375px) and (max-width: 743px){
  .board-event-component {
    flex: 0 0 239px;
    padding: 20px 20px 24px 20px;

    .elem-1 {
      flex: 0 0 40px;
      border-bottom: 1px solid #E1E1E1;
      justify-content: space-between;
      gap: 25px;
      align-items: start;

      .el {
        display: flex;
        padding-left: 31px;
        font-size: 14px;

        &.el-376 {
          display: flex;
          padding: 0;
          flex: 0 0 20px;
          height: 20px;
        }
        &.el-1280 {
          display: none;
        }
      }
    }

    .elem-2 {
      margin-top: 20px;
      font-family: 'Inter', sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 120%;
      letter-spacing: 0.04em;
      flex: 0 0 22px;
    }

    .elem-3 {
      margin-top: 16px;
      font-weight: 500;
      font-size: 14px;
      flex: 0 0 17px;
    }

    .elem-4 {
      margin-top: 32px;
      flex: 0 0 $fieldHeight;
      align-items: stretch;
      justify-content: stretch;
      gap: 10px;

      .el {
        flex: 1 1 auto;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        padding: 10px;

        &.el-3 {
          flex: 1 1 auto;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  .buttons-board-player-component {
    .el {
      flex: 1 1 auto !important;
    }
  }
}