.create-event-376 {
  display: none;
}

.create-event-component {
  width: 872px;
  height: 718px;

  &.isPaid {
    height: 772px;
    .form-event-component {
      height: 772px;
    }
  }

  .popup-left {
    flex: 0 0 411px;

    .elem-1 {
      .btn-close {
        display: none;
      }
    }
  }
  .popup-right {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: stretch;
    padding-left: 62px;
    box-sizing: border-box;
  }
  .create-event-img {
    background: url(../../icon/signUpImg2.png) no-repeat;
  }
}

.create-event-component .popup-right {
  .elem-1 {
    display: flex;
    flex: 0 0 24px;
    margin-top: 24px;
    justify-content: end;

    .btn-close {
      margin-right: 24px;
    }
  }
  .elem-2 {
    display: flex;
    flex: 0 0 16px;
    margin-top: 5px;
    align-items: center;
    margin-bottom: 18px;
    gap: 12px;

    .point {
      height: 8px;
      width: 8px;

      &.point-big {
        height: 16px;
        width: 16px;
        background-size: 16px;
      }
    }
  }
  .elem-3 {
    max-width: 250px;
  }
  .elem-4 {
    display: flex;
    flex: 0 0 38px;
    margin-top: 44px;
    margin-bottom: 32px;
    margin-left: 61px;
    width: $createEventRightPointWidth;
  }
  .elem-5 {
    display: flex;
    width: $createEventRightPointWidth;
    margin-left: 61px;

    .btn-login {
      flex: 1 1 auto;
    }
  }
}

.create-event-un-auth {
  .popup-left {
    box-sizing: border-box;
    padding-top: 40px;
    padding-bottom: 44px;
    padding-left: 42px;
    padding-right: 42px;
    align-items: stretch;

    .elem {
      display: flex;

      &.elem-1 {
        justify-content: center;
      }
      &.elem-10 {
        justify-content: stretch;

        .btn-create-event {
          flex: 1 1 auto;
        }
      }
    }
  }
}

.event-inactive {
  flex: 1 1 auto !important;
  background: url("../../icon/event-inactive.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 744px) and (max-width: 1279px){
  .create-event-un-auth {
    .popup-left {
      align-items: stretch;
    }
  }
  .create-event-component {
    width: 696px;
    height: 772px;

    &.isPaid {
      height: 836px;
      .form-event-component {
        height: 836px;
      }
    }
    .popup-right {
      padding-left: 40px;

      .elem-4 {
        margin-left: 30px;
      }
      .elem-5 {
        margin-left: 30px;
      }
    }
    .popup-left {
      flex: 0 0 348px;
    }
  }

  .event-inactive {
    background: url("../../icon/event-inactive-376.png");
    background-size: cover;
  }
}

@media screen and (min-width: 375px) and (max-width: 743px){
  .create-event-component {
    width: 100vw;
    height: 100vh;
    &.isPaid {
      height: 100vh;
      .form-event-component {
        height: 100vh;
      }
    }
  }
  .create-event-component .popup-right {
    display: none;
  }

  .create-event-component .popup-left {
    flex: 0 0 100vw;
    height: 100vh;

    .elem-1 {
      .btn-close {
        display: flex !important;
      }
    }
  }

  .create-event-un-auth {
    display: none;
  }

  .popup-fon {
    justify-content: stretch;
    align-items: stretch;
  }

  .create-event-376 {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
    justify-content: stretch;

    .elem {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .elem-1 {
      flex: 0 0 24px;
      justify-content: end;
      margin-top: 24px;
      width: 100vw;

      .btn-close {
        margin-right: 24px;
      }
    }

    .elem-2 {
      flex: 1 0 48px;
      align-items: end;
      width: 247px;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0.04em;
      margin-bottom: 16px;
    }

    .elem-3 {
      flex: 0 0 38px;
      align-items: center;
      width: 249px;
      margin-bottom: 25px;
    }

    .elem-4 {
      flex: 0 0 $fieldHeight;
      width: 296px;
      margin-bottom: 24px;
    }

    .elem-5 {
      flex: 1 0 19px;
      width: 100px;
      align-items: start;
      color: #D19C6C;
      font-weight: 600;
      font-size: 16px;
    }
  }
}