.event-description-component {
  display: flex;
  flex: 0 0 404px;
  flex-direction: column;
  background: #FFFFFF;
  border-radius: 8px;
  padding: 40px;
  align-items: stretch;
  box-sizing: border-box;

  .elem-744 {
    display: none;
  }

  .elem-1280 {
    display: flex;

    &.elem-1 {
      flex: 0 0 19px !important;
      justify-content: space-between !important;
      flex-direction: row !important;
      margin-right: 0 !important;
      //position: relative;

      .el {
        display: flex;
        padding-left: 30px;
        color: #1B1B1B;
        align-items: center;
        box-sizing: border-box;
      }

      .black-edit-icon {
        flex: 0 0 166px;
        font-weight: 500;
        font-size: 14px;
      }

      .gray-copy-icon {
        flex: 0 0 179px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
      }
    }

    &.elem-2 {
      margin-top: 40px;
      flex: 0 0 24px !important;
      font-weight: 700;
      font-size: 20px;

    }

    &.elem-3 {
      margin-top: 31px;
      flex: 0 0 28px;
      padding-left: 30px;
      background-position: left top;
    }

    &.elem-4 {
      margin-top: 31px;
      flex: 0 0 16px;
      justify-content: space-between !important;

      .el {
        display: flex;
        font-size: 13px;
        color: #000000;
      }

      .el-1 {
        flex: 0 0 42px;
      }

      .el-2 {
        flex: 0 0 83px;
      }
    }

    &.elem-5 {
      margin-top: 8px;
      flex: 0 0 44px;
      justify-content: space-between !important;

      .el {
        display: flex;
        font-weight: 600;
        font-size: 18px;
      }

      .el-1 {
        flex: 0 0 360px;
      }

      .el-2 {
        flex: 1 1 auto;
        justify-content: end;
      }
    }

    &.elem-6 {
      margin-top: 24px;
      flex: 0 0 77px;
      border: 1px solid $grayColor;
      border-radius: 8px;
      max-height: 200px;
      justify-content: stretch;

      .leaflet-container {
        flex: 1 1 auto;
      }

      .leaflet-bottom.leaflet-right {
        display: none;
      }

      &.hidden {
        display: none !important;
      }
    }
  }
}

.tooltip {
  position: absolute;
  display: flex;
  width: 230px;
  top: 30vh;
  padding: 20px;
  left: calc(50vw - 115px);
  border: 1px solid $grayColor;
  border-radius: 8px;
  background: $whiteColor;
  align-items: center;
  white-space: nowrap;
  justify-content: center;

  &.hidden {
    display: none;
  }
}

@media screen and (min-width: 744px) and (max-width: 1279px){
  .event-description-component {
    display: flex;
    flex: 1 0 340px;
    height: 592px;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 28px;
    align-items: stretch;
    box-sizing: border-box;
    margin-right: 24px;

    .elem-1280 {
      display: none !important;
    }

    .elem-744 {
      display: flex;

      &.elem-1 {
        flex: 0 0 19px !important;
        justify-content: space-between !important;
        flex-direction: row !important;
        margin-right: 0 !important;

        .el {
          display: flex;
          padding-left: 30px;
          color: #1B1B1B;
          align-items: center;
          box-sizing: border-box;
        }

        .black-edit-icon {
          flex: 0 0 166px;
          font-weight: 500;
          font-size: 14px;
        }

        .gray-copy-icon {
          flex: 0 0 20px;
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
        }
      }

      &.elem-2 {
        flex: 0 0 24px !important;
        font-weight: 700;
        font-size: 20px;
        margin-top: 28px;
      }

      &.elem-3 {
        margin-top: 22px;
        flex: 0 0 28px;
        padding-left: 30px;
        background-position: left top;
      }

      &.elem-4 {
        margin-top: 16px;
        font-size: 13px;
        color: #000000;
      }

      &.elem-5 {
        margin-top: 8px;
        font-weight: 600;
        font-size: 18px;
      }

      &.elem-6 {
        margin-top: 24px;
        font-size: 13px;
        color: #000000;
      }

      &.elem-7 {
        margin-top: 8px;
        font-weight: 600;
        font-size: 18px;
      }

      &.elem-8 {
        margin-top: 24px;
        flex: 0 0 77px;
        border: 1px solid $grayColor;
        border-radius: 8px;
        justify-content: stretch;

        .leaflet-container {
          flex: 1 1 auto;
        }

        .leaflet-bottom.leaflet-right {
          display: none;
        }

        &.hidden {
          display: none !important;
        }
      }
    }
  }
}

@media screen and (min-width: 375px) and (max-width: 743px){
  .event-description-component {
    display: flex;
    flex: 0 0 315px;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 24px;
    align-items: stretch;
    box-sizing: border-box;

    &.disabled {
      display: none;
    }

    .elem-1280 {
      display: none !important;
    }

    .elem-744 {
      display: none;
    }

    .elem-376 {
      display: flex;
      margin: 0;

      &.elem-1 {
        flex: 0 0 19px !important;
        justify-content: space-between !important;
        flex-direction: row !important;
        margin-right: 0 !important;
        margin-bottom: 26px !important;

        .el {
          display: flex;
          color: #1B1B1B;
          align-items: center;
          box-sizing: border-box;
        }

        .el-1 {
          font-weight: 700;
          font-size: 20px;
        }

        .gray-copy-icon {
          flex: 0 0 20px;
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
        }
      }

      &.elem-2 {
        flex: 0 0 28px !important;
        padding-left: 30px;
        background-position: left top;
        margin-bottom: 8px !important;
      }

      &.elem-3 {
        flex: 0 0 19px !important;
        font-size: 13px;
        color: #000000;
        margin-bottom: 8px !important;
      }

      &.elem-4 {
        flex: 0 0 19px !important;
        margin-bottom: 24px !important;
        font-weight: 600;
        font-size: 16px;
      }

      &.elem-5 {
        flex: 0 0 19px !important;
        margin-bottom: 8px !important;
        font-size: 13px;
        color: #000000;
      }

      &.elem-6 {
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 24px !important;
      }

      &.elem-7 {
        margin-bottom: 0 !important;
        flex: 0 0 97px !important;
        border: 1px solid $grayColor;
        border-radius: 8px;
        justify-content: stretch;

        .leaflet-container {
          flex: 1 1 auto;
        }

        .leaflet-bottom.leaflet-right {
          display: none;
        }

        &.hidden {
          display: none !important;
        }
      }
    }
  }
}