@import "board-event";
@import "event-description";
@import "event-members";
@import "event-chat";
@import "event-organizer";

.event-component {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: stretch;
}

.event-component .elem-376 {
  display: none;
}

.same-events-component {
  display: flex;
  flex-direction: column;
  margin-top: 55px;
  gap: 24px;

  .elem {
    display: flex;
    gap: 24px;
  }
  .elem-1 {
  }
  .elem-2 {
    .same-event-component {
      flex: 1 1 373px;
    }
  }
}

@media screen and (min-width: 744px) and (max-width: 1279px){
  .same-events-component {
    gap: 20px;

    .elem {
      display: flex;
      gap: 16px;
    }
    .elem-2 {
    }
    .same-event-2 {
      display: none;
    }
  }
}

@media screen and (min-width: 375px) and (max-width: 743px){
  .event-component {
    padding: 0 16px 25px 16px;
  }

  .event-component .top-376-component {
    .elem-2 {
      display: flex;
      flex: 0 0 16px;
      height: 100%;
      margin-right: 4px;
    }
  }

  .same-events-component {
    margin-top: 0px;
    gap: 20px;

    .elem {
      display: flex;
      gap: 16px;
    }
    .elem-1 {
      font-size: 18px;
      font-weight: 700;
    }
    .elem-2 {
      margin-bottom: 25px;
    }
    .same-event-1 {
      display: none;
    }
    .same-event-2 {
      display: none;
    }
  }
}