@import "board-event";
@import "event-description";
@import "event-members";
@import "event-chat";

.body .elem-376 {
  display: none;
}

.body .event-organizer-component {
  display: flex;
  flex: 1 1 auto;
  margin-top: 32px;

  .elem-1280 {
    display: flex;
    justify-content: stretch;

    &.elem-1 {
      flex: 1 1 auto;
      margin-right: 31px;
      flex-direction: column;
    }

    &.elem-2 {
      flex: 0 0 392px;
      align-items: start;
    }
  }

  .elem-744 {
    display: none;
  }

  .elem-376 {
    display: none;
  }
}

.body .same-events-component {
  display: flex;
  flex-direction: column;
  margin-top: 55px;
  gap: 24px;

  .elem {
    display: flex;
    gap: 24px;
  }
  .elem-1 {

  }
  .elem-2 {

  }
}

@media screen and (min-width: 744px) and (max-width: 1279px){
  .body .event-organizer-component {
    flex-direction: column;

    .elem-1280 {
      display: none;
    }

    .elem-744 {
      display: flex;
    }
  }

  .body .same-events-component {
    gap: 20px;

    .elem {
      display: flex;
      gap: 16px;
    }
    .elem-2 {

    }
    .same-event-2 {
      display: none;
    }
  }
}

@media screen and (min-width: 375px) and (max-width: 743px){
  .body .elem-376 {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;

    .event-mobile-head {
        display: flex;
        flex: 0 0 17px;
        margin-top: 24px;
        margin-bottom: 24px;
        align-items: center;
        justify-content: stretch;

      .el-1 {
        flex: 0 0 6.5px;
        height: 10px;
        margin-left: 8px;
        margin-right: 18px;
      }

      .el-2 {
        flex: 1 1 auto;
        font-weight: 500;
        font-size: 14px;
      }

      .el-3 {
        flex: 0 0 16px;
        height: 16px;
        margin-right: 4px;

      }
    }
  }

  .body .event-organizer-component {
    margin-top: 24px;
    flex: 1 1 auto;

    .elem-1280 {
      display: none;
    }

    .elem-376 {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      align-items: stretch;
      margin-bottom: 24px;

      .menu {
        display: flex;
        justify-content: space-between;
        flex: 0 0 24px;
        align-items: stretch;
        margin-bottom: 20px;
        gap: 12px;

        .el {
          display: flex;
          flex: 1 1 auto;
          border-radius: 25px;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }

        .active {
          background: $grayColor;
          font-weight: 600;
          font-size: 12px;
          color: $whiteColor;
        }

        .inactive {
          background: #EBEBEB;
          font-size: 12px;
          color: #6C6C6C;
        }
      }
    }
  }

  .body .same-events-component {
    margin-top: 0px;
    gap: 20px;

    .elem {
      display: flex;
      gap: 16px;
    }
    .elem-1 {
      font-size: 18px;
      font-weight: 700;
    }
    .elem-2 {

    }
    .same-event-1 {
      display: none;
    }
    .same-event-2 {
      display: none;
    }
  }
}