.bottom-component {
  display: flex;
  flex: 0 0 $bottomHeight;
  flex-direction: column;
  align-items: stretch;

  .elem-744 {
    display: none;
  }
  .elem-376 {
    display: none;
  }
  .elem-1280 {
    display: flex;
    flex: 0 0 168px;
    background: #1B1B1B;
    box-sizing: border-box;

    .el {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      margin-top: 50px;

      &.el-1 {
        flex: 0 0 220px;
        margin-top: 45px;

        .logo {
          display: flex;
          margin-bottom: 29px;
          align-items: center;
          justify-content: space-between;
        }
        span {
          font-size: 12px;
          color: #949494;
        }
      }
      &.el-2 {
        flex: 1 1 auto;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 65px;

        span {
          color: #FFFFFF;
          font-size: 14px;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
        .col {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          &.col-1 {
            padding-right: 48px;
            border-right: 1px solid #949494;
          }
          &.col-2 {
            margin-left: 48px;
            margin-right: 48px;
          }
          &.col-3 {
            padding-left: 48px;
            border-left: 1px solid #949494;
          }
        }
      }
      &.el-3 {
        flex: 0 0 195px;
        align-items: end;

        .label {
          font-size: 14px;
          color: #949494;
          line-height: 164%;

          .value {
            font-size: 14px;
            color: #FFFFFF;
            line-height: 164%;
          }
        }
      }
    }
  }
  .elem-bottom {
    display: flex;
    flex: 0 0 56px;
    background: #252525;
    align-items: stretch;
    box-sizing: border-box;

    .el-1 {
      display: flex;
      flex: 0 0 330px;
      align-items: center;
      font-size: 12px;
      color: $grayColor;

      .policy {
        padding-right: 12px;
        border-right: 1px solid $grayColor;
        font-size: 12px;
        color: $grayColor;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
      .offer {
        padding-left: 12px;
        font-size: 12px;
        color: $grayColor;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .el-2 {
      display: flex;
      align-items: center;
      flex: 1 1 auto;
      justify-content: center;

      .music {
        font-size: 14px;
        color: $orangeColor;
        cursor: pointer;
        margin-left: 15px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
    .el-3 {
      display: flex;
      gap: 24px;
      align-items: center;
      justify-content: space-between;
    }
  }
}

@media screen and (min-width: 1280px){
  .bottom-component {
    .elem-1280 {
      padding: 0 calc((100vw - 1160px)/2);
    }
    .elem-bottom {
      padding: 0 calc((100vw - 1160px)/2);
    }
  }
}

@media screen and (min-width: 744px) and (max-width: 1279px){
  .bottom-component .elem-bottom {
    justify-content: space-between;
    padding: 0 32px;

    .el-2 {
      flex: 0 0 150px;
    }
    .el-3 {
      display: none;
    }
  }
  .bottom-component .elem-1280 {
    display: none;
  }
  .bottom-component .elem-744 {
    display: flex;
    flex: 0 0 267px;
    background: #1B1B1B;
    flex-direction: column;

    .ell {
      display: flex;
      justify-content: space-between;
    }
    .ell-1 {
      flex: 0 0 126px;

      .el {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin-top: 50px;

        &.el-1 {
          margin-left: $marginSides;
          flex: 0 0 220px;
          margin-top: 45px;

          .logo {
            display: flex;
            margin-bottom: 29px;
            align-items: center;
            justify-content: space-between;
          }
          span {
            font-size: 12px;
            color: #949494;
          }
        }

        &.el-2 {
          flex: 0 0 195px;
          margin-right: $marginSides;
          align-items: end;

          .label {
            font-size: 14px;
            color: #949494;
            line-height: 164%;

            .value {
              font-size: 14px;
              color: #FFFFFF;
              line-height: 164%;
            }
          }
        }
      }
    }

    .ell-2 {
      flex: 1 1 auto;

      .el {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin-top: 45px;

        &.el-1 {
          flex: 1 1 auto;
          flex-direction: row;
          justify-content: start;
          margin-bottom: 40px;
          margin-left: $marginSides;

          span {
            color: #FFFFFF;
            font-size: 14px;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }
          .col {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &.col-1 {
              padding-right: 48px;
              border-right: 1px solid #949494;
            }
            &.col-2 {
              margin-left: 48px;
              margin-right: 48px;
            }
            &.col-3 {
              padding-left: 48px;
              border-left: 1px solid #949494;
            }
          }
        }

        &.el-2 {
          gap: 24px;
          margin-right: $marginSides;
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }
  }
}

@media screen and (min-width: 375px) and (max-width: 743px) {
  .bottom-component {
    align-items: stretch;
    background: $whiteColor;
    flex: 0 0 66px;

    .elem-1280 {
      display: none;
    }
    .elem-bottom {
      display: none;
    }
    .elem-376 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid $lightGrayColor;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.9);
      box-sizing: border-box;
      padding: 10px 25px 18px 25px;

      &.safari-margin {
       margin-bottom: 70px;
      }
      .elem {
        display: flex;
        flex: 0 0 50px;
        justify-content: center;
        cursor: pointer;
        background-position: center top;
        align-items: end;
        padding-top: 18px;
        text-decoration: none;

        &.disabled {
          color: $grayColor;
          font-weight: 400;
        }
      }
    }
  }
}