.profile-favorites-component {
  display: flex;
  justify-content: stretch;
  flex: 1 1 auto;
  flex-direction: column;

  .table-bar {
    display: flex;
    background: $lightGrayColor;
    border-radius: 6px;
    flex: 0 0 48px;
    padding: 12px 24px;
    box-sizing: border-box;
    align-items: center;
    gap: 47px;

    .elem {
      display: flex;
    }
    .elem-1 {
      gap: 15px;
      .gray-down-arrow-icon {
        flex: 0 0 10px;
      }
      span {
        white-space: nowrap;
      }
    }
  }
  .table-head-1280 {
    display: flex;
    flex: 0 0 56px;
    background: $whiteColor;
    border-bottom: 1px solid #E0E0E0;
    gap: 20px;
    padding: 0 14px 0 24px;
    box-sizing: border-box;
    align-items: center;

    .elem {
      display: flex;
    }
    .elem-1 {
      flex: 0 0 180px;
    }
    .elem-2 {
      flex: 1 1 auto;
    }
    .elem-3 {
      flex: 0 0 90px;
      text-align: center;
    }
    .elem-4 {
      flex: 0 0 90px;
      text-align: center;
    }
    .elem-5 {
      flex: 0 0 56px;
      text-align: center;
    }
  }
  .table-head-744 {
    display: none;
  }
  .table-body {
    display: flex;
    background: $whiteColor;
    flex-direction: column;

    .event-row-1280 {
      display: flex;
      flex: 0 0 74px;
      padding: 18px 24px;
      box-sizing: border-box;
      gap: 20px;

      &:hover {
        text-decoration: none;
      }
      .elem {
        display: flex;
      }
      .elem-1 {
        flex: 0 0 170px;
      }
      .elem-2 {
        flex: 1 1 auto;
        flex-direction: column;
      }
      .elem-3 {
        flex: 0 0 90px;
        text-align: center;
        justify-content: center;
      }
      .elem-4 {
        flex: 0 0 90px;
        text-align: center;
        justify-content: center;
      }
      .elem-5 {
        flex: 0 0 46px;
        text-align: center;
        justify-content: center;
      }
    }

    .event-item-376-component {
      display: none;
    }
  }
}

@media screen and (min-width: 744px) and (max-width: 1279px){
  .profile-favorites-component {
    .table-bar {
      border-radius: 0;
    }
    .table-head-1280 {
      display: none;
    }
    .table-head-744 {
      display: flex;
      background: $whiteColor;
      border-bottom: 1px solid #E0E0E0;
      gap: 20px;
      padding: 0 20px;
      box-sizing: border-box;
      align-items: center;
      flex: 0 0 41px;

      .gray-cup-icon {
        background-size: 16px;
      }
      .avatar-icon {
        cursor: auto;
        background-position: center;
      }
      .elem {
        display: flex;
        flex: 0 0 35px;
      }
      .elem-1 {
        flex: 1 1 auto;
      }
    }

    .table-body {
      .event-row-1280 {
        display: none;
      }
      .event-item-376-component {
        display: flex;
      }
    }
  }
}