body {
  -webkit-text-size-adjust: none;
}

span {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #1B1B1B;
}

textarea {
    background-color: transparent;
    resize: none;
    outline: none;
    border: 0.8px solid #949494;
    border-radius: 10px;
    padding: 16px;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #1B1B1B;
}

.popup-fon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  background: rgba(27, 27, 27, 0.7);
}

.popup-frame {
  display: flex;
  justify-content: stretch;
  align-items: stretch;

  border-radius: $borderRadius;
  background: #FFFFFF;
}

.popup-left {
  display: flex;
  flex-direction: column;
  flex: 1 1 math.div($popupWidth, 2);
  align-items: stretch;

  background: #FFFFFF;
  border-radius: $borderRadius;
}

input[type="checkbox"] {
  display: none;
}

.checkbox-div {
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 16px;

  border: 1px solid #949494;
  border-radius: 4px;

}

.checkbox-label {
  position: absolute;
  width: $fieldWidth;
  height: $fieldHeight;
  cursor: pointer;
  z-index: 99999;

  &:before {
    position: absolute;
    width: $fieldWidth;
    height: $fieldHeight;
    left: 2px;
    right: 95.36%;
    top: 2px;
    //bottom: 67.65%;
    cursor: pointer;
  }
}

.link {
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #949494;

  &:hover {
    text-decoration: underline;
  }
}

.popup-right {
  display: flex;
  flex: 0 0 math.div($popupWidth, 2);
  align-items: stretch;
}

.popup-img {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: stretch;
  border-radius: $borderRadius;

  background-size: cover !important;
  background-position: center left !important;
  background-repeat: no-repeat !important;

  .first {
    display: flex;
    flex: 0 0 24px;
    margin-top: 20px;
    justify-content: end;
  }
  .second {
    display: flex;
    flex: 0 0 42px;
    justify-content: start;
    align-items: center;
    padding-left: 62px;
  }
  .third {
    display: flex;
    flex: 1 0 97px;
    justify-content: start;
    padding-left: 60px;
  }
}

.right-input-icon {
  flex: 0 0 20px;
  width: 20px;
  align-self: end;
  margin-right: 14px;
  margin-top: -34px;
}

.password-elem {
  flex-direction: column;
}

.left-password-elem {
  flex: 0 0 $fieldHeight !important;
}


.line {
  width: 279px;
  height: 0px;
  border: 1px solid #DBDBDB;
  background: #DBDBDB;
}

#telegram-login-PlaybotTestBot{
  height: 20px;
}

.div-input {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex: 1 0 auto;

  input[type=text], [type=password]{
    flex: 1 0 auto;
    border: 0.8px solid #949494;
    border-radius: 8px;
    padding-left: 40px;

    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    -webkit-appearance: none;
  }
}

.div-input-checkbox {
  display: flex;
  flex: 0 0 $fieldWidth;
  align-items: stretch;
  height: $fieldHeight;
  justify-content: start;

  input[type=checkbox]{
    box-sizing: border-box;
    flex: 0 0 16px;
    border: 1px solid #949494;
    border-radius: 4px;
  }

  span {
    flex: 0 0 $fieldWidth - 28px;
    margin-left: 28px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;

    color: #949494;
  }

  input:checked + label:before {
    flex: 0 0 $fieldWidth;
    content: '';
    background: url("../icon/checked.png") no-repeat;
    background-size: 9px 7px;
    background-position: 2px 2px;
    position: absolute;
  }
}

.circle-1 {
  flex: 0 0 16px;
  margin-right: 12px;
}

.circle-2 {
  flex: 0 0 8px;
}

.div-scroll {
  overflow: auto;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  .scroll-elem {
    display: flex;
    cursor: pointer;
    flex: 0 0 44px;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #1B1B1B;

    &:hover {
      background: #dcdbdb;
    }
  }

  .checked {
    font-weight: 600;
    line-height: 44px;
    background: url("../icon/checked-orange.png") no-repeat;
    background-size: 12px 9px;
    background-position: left center;
    padding-left: 20px;
    &:hover {
      background: url("../icon/checked-orange.png") no-repeat;
      background-size: 12px 9px;
      background-position: left center;
    }
  }

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    border: 1px solid transparent;
    background-clip: content-box;
    border-radius: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(35, 32, 33, 0.12);
    border-radius: 2px;
  }
}

.safari-margin {
  margin-bottom: 110px !important;
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 217px;
  height: $fieldHeight;
  box-sizing: border-box;

  .dropdown-label {
    display: flex;
    flex: 0 0 $fieldHeight;
    align-items: center;
    padding-left: 16px;
    border: 0.8px solid #949494;
    border-radius: 8px;
    cursor: pointer;

  }
}

.dropdown-menu {
  display: none;
  flex-direction: column;
  opacity: 0;
  border: 1px solid gray;
  border-radius: 8px;
  transition: all 100ms ease;
  background: rgb(255, 255, 255);

  &.open {
    opacity: 1;
    display: flex;
  }

  .dropdown-elem {
    display: flex;
    align-items: center;
    flex: 0 0 $fieldHeight;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    &:hover {
      background: rgba(227, 225, 225, 0.63);
      border-radius: 8px;
    }
  }
}

.rdtPicker {
  top: $fieldHeight;
}

