.main-page .bottom {
  display: flex;
  flex: 0 0 $bottomHeight;
  flex-direction: column;

  .elem-744 {
    display: none;
  }

  .elem-376 {
    display: none;
  }

  .elem-1280 {
    display: flex;
    flex: 1 1 auto;
    background: #1B1B1B;

    .el {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      margin-top: 50px;

      &.el-1 {
        margin-left: $marginSides;
        flex: 0 0 220px;
        margin-top: 45px;

        .logo {
          display: flex;
          margin-bottom: 29px;
          align-items: center;
          justify-content: space-between;
        }

        span {
          font-size: 12px;
          color: #949494;
        }
      }

      &.el-2 {
        flex: 1 1 auto;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 65px;

        span {
          color: #FFFFFF;
          font-size: 14px;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }

        .col {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          &.col-1 {
            padding-right: 48px;
            border-right: 1px solid #949494;

          }

          &.col-2 {
            margin-left: 48px;
            margin-right: 48px;

          }

          &.col-3 {
            padding-left: 48px;
            border-left: 1px solid #949494;

          }
        }
      }

      &.el-3 {
        flex: 0 0 195px;
        margin-right: $marginSides;
        align-items: end;

        .label {
          font-size: 14px;
          color: #949494;
          line-height: 164%;

          .value {
            font-size: 14px;
            color: #FFFFFF;
            line-height: 164%;
          }
        }
      }
    }
  }

  .elem-bottom {
    display: flex;
    flex: 0 0 56px;
    background: #252525;
    align-items: stretch;

    .el-1 {
      display: flex;
      flex: 0 0 330px;
      margin-left: $marginSides;
      align-items: center;
      font-size: 12px;
      color: #949494;

      .policy {
        padding-right: 12px;
        border-right: 1px solid #949494;
        font-size: 12px;
        color: #949494;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      .offer {
        padding-left: 12px;
        font-size: 12px;
        color: #949494;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }

      }
    }

    .el-2 {
      display: flex;
      align-items: center;
      flex: 1 1 auto;
      justify-content: center;

      .music {
        font-size: 14px;
        color: #D19C6C;
        cursor: pointer;
        margin-left: 15px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .el-3 {
      display: flex;
      flex: 0 0 118px;
      margin-right: $marginSides;
      align-items: center;
      justify-content: space-between;
    }
  }
}

@media screen and (min-width: 744px) and (max-width: 1279px){
  .main-page .bottom .elem-bottom {
    justify-content: space-between;

    .el-2 {
      flex: 0 0 150px;
      margin-right: $marginSides;
    }
    .el-3 {
      display: none;
    }
  }

  .main-page .bottom .elem-1280 {
    display: none;
  }

  .main-page .bottom .elem-744 {
    display: flex;
    flex: 1 1 auto;
    background: #1B1B1B;
    flex-direction: column;

    .ell {
      display: flex;
      justify-content: space-between;
    }

    .ell-1 {
      flex: 0 0 126px;

      .el {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin-top: 50px;

        &.el-1 {
          margin-left: $marginSides;
          flex: 0 0 220px;
          margin-top: 45px;

          .logo {
            display: flex;
            margin-bottom: 29px;
            align-items: center;
            justify-content: space-between;
          }

          span {
            font-size: 12px;
            color: #949494;
          }
        }

        &.el-2 {
          flex: 0 0 195px;
          margin-right: $marginSides;
          align-items: end;

          .label {
            font-size: 14px;
            color: #949494;
            line-height: 164%;

            .value {
              font-size: 14px;
              color: #FFFFFF;
              line-height: 164%;
            }
          }
        }
      }
    }

    .ell-2 {
      flex: 1 1 auto;

      .el {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin-top: 45px;

        &.el-1 {
          flex: 1 1 auto;
          flex-direction: row;
          justify-content: start;
          margin-bottom: 40px;
          margin-left: $marginSides;

          span {
            color: #FFFFFF;
            font-size: 14px;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }

          .col {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &.col-1 {
              padding-right: 48px;
              border-right: 1px solid #949494;

            }

            &.col-2 {
              margin-left: 48px;
              margin-right: 48px;

            }

            &.col-3 {
              padding-left: 48px;
              border-left: 1px solid #949494;

            }
          }
        }

        &.el-2 {
          flex: 0 0 118px;
          margin-right: $marginSides;
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }
  }
}

@media screen and (min-width: 375px) and (max-width: 743px) {
  .main-page .bottom {
    .elem-1280 {
      display: none;
    }
    .elem-bottom {
      display: none;
    }
  }

  .main-page .bottom .elem-376 {
    display: flex;
    flex: 0 0 56px;
    justify-content: space-between;
    align-items: center;

    .elem {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;

      .active-page {
        font-size: 11px;
        font-weight: 600;
        color: #D19C6C;
        margin-top: 6px;
      }

      .disabled-page {
        font-size: 11px;
        color: #949494;
        margin-top: 6px;
      }

      &.elem-1 {
        margin-left: $marginSides;
      }

      &.elem-2 {

      }

      &.elem-3 {
        margin-right: $marginSides;

      }

    }
  }

}