.create-event {
  width: $createEventWidth;
  height: $createEventHeight;
  flex-direction: column;

  .elem {
    display: flex;
    flex: 0 0 $fieldHeight;
    align-items: stretch;
    justify-content: stretch;
    margin-right: 28px;
    margin-left: 28px;
    //margin-top: 24px;

    &.elem-1 {
      margin-top: 24px;
      justify-content: space-between;
      flex: 0 0 26px;
      span {
        font-weight: 600;
        font-size: 22px;
      }
    }

    &.elem-2 {
      flex: 0 0 80px;
      margin-top: 24px;
      background: url("../icon/create-event-img.png");
      background-size: cover !important;
      background-position: center left !important;
      background-repeat: no-repeat !important;
      border-radius: 8px;
    }

    &.elem-3 {
      flex: 0 0 64px;
    }

    &.elem-7 {
      flex-direction: column;
      margin-top: 8px;
    }

    input {
      padding-right: 20px;
      padding-left: 20px;
    }

    &.margin-12 {
      margin-top: 12px;
    }

    &.margin-24 {
      margin-top: 24px;
    }

    &.margin-8 {
      margin-top: 8px;
    }


    .date-time {
      display: flex;
      align-items: stretch;
      justify-content: start;
      flex: 1 0 auto;
      flex-direction: column;

      &.date {
        margin-right: 5px;
      }

      &.time {
        margin-left: 5px;
      }

      .input {
        flex: 0 0 $fieldHeight;
        box-sizing: border-box;
      }

      .icon {
        flex: 0 0 24px;
        width: 24px;
        align-self: end;
        margin-right: 12px;
        margin-top: -52px;
        cursor: pointer;
      }

      .input-message {
        flex: 0 0 12px;
        margin-top: 4px;
        font-size: 10px;
        &.error {
          color: #EC5B56;
        }
      }
    }

    &.label {
      flex: 0 0 19px;
    }

    &.elem-btn {
      margin-bottom: 24px;
    }

    &.notice {
      flex: 1 1 auto;
      flex-direction: column;
      textarea {
        flex: 1 1 auto;
        height: 96px;
      }
    }

    .input-message {
      flex: 0 0 12px;
      margin-top: 4px;
      font-size: 10px;
      &.error {
        color: #EC5B56;
      }
    }




  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    color: #61dafb;
    cursor: pointer;
  }
}

.btn-create-event {
  flex: 1 1 auto;
  height: $fieldHeight;
}