@font-face {
  font-family: "Raleway";
  src: url('../fonts/Raleway-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url('../fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.gray-400-16 {
  font-weight: 400;
  font-size: 16px;
  color: #949494;
}

.black-600-16 {
  font-weight: 600;
  font-size: 16px;
  color: #1B1B1B;
}

.black-400-13 {
  font-weight: 400;
  font-size: 13px;
  color: #1B1B1B;
}