.name-icon {
  background: url("../icon/avatar.png") no-repeat;
  background-size: 15px 16px;
  background-position: 14px center;
}

.phone-icon {
  background: url("../icon/phone.png") no-repeat;
  background-size: 16px 15px;
  background-position: 14px center;
}

.email-icon {
  background: url("../icon/email.png") no-repeat;
  background-size: 16px 12px;
  background-position: 14px center;
}

.password-icon {
  background: url("../icon/password.png") no-repeat;
  background-size: 12px 15px;
  background-position: 14px center;
}

.eye-icon {
  background-image: url("../icon/eye.png");
  background-size: 20px;
  cursor: pointer;
  &.off {
    background-image: url("../icon/eye-off.png");
  }
}

.search-icon {
  background: url("../icon/search.png") no-repeat;
  background-size: 15px;
  background-position: 14px center;
}

.calendar-icon {
  background: url("../icon/calendar.png") no-repeat;
  background-size: 24px;
  background-position: 0px center;
  z-index: 99999;
}

.clock-icon {
  background: url("../icon/clock.png") no-repeat;
  background-size: 24px;
  background-position: 0px center;
  z-index: 99999;
}

.down-arrow-icon {
  background: url("../icon/down-arrow.png") no-repeat;
  background-size: 24px;
  //background-position: 181px center;
}

.up-arrow-icon {
  background: url("../icon/up-arrow.png") no-repeat;
  background-size: 24px;
  //background-position: 181px center;
}

.ball-icon {
  background: url("../icon/ball.png") no-repeat;
  background-size: 20px;
}

.map-point-icon {
  background: url("../icon/map-point.png") no-repeat;
  background-size: 20px;
}

.foot-icon {
  background: url("../icon/foot-with-ball.png") no-repeat;
  background-size: 20px;
}

.point-icon {
  background: url("../icon/orange-point.png");
  background-repeat: no-repeat;
  background-size: 8px;
}

.slider-check-icon {
  background: url("../icon/slider-check.png");
  background-repeat: no-repeat;
  background-size: 40px 24px;
  width: 40px;
  height: 24px;
  cursor: pointer;
}

.slider-uncheck-icon {
  background: url("../icon/slider-uncheck2.png");
  background-repeat: no-repeat;
  background-size: 40px 24px;
  width: 40px;
  height: 24px;
  cursor: pointer;
}