.login {
  width: 800px;
  height: 489px;
}

.login-img {
  background: url(../icon/signUpImg2.png);
  border-radius: 10px;
}

.login-right-text {
  position: absolute;
  width: 249px;
  height: 87px;
  left: 60px;
  top: 94px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;

  letter-spacing: 0.04em;
  color: #1B1B1B;
}

.login-l-body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  //padding: 30px;
}

.login-l-elem {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  height: $fieldHeight;
  width: $fieldWidth;
}

.login-l-bottom-elem {
  flex: 0 1 99px;
  align-items: start;
}

.login-l-head-elem {
  align-items: end;
  flex: 0 1 94px;
}

.login-l-elem-line {
  flex: 0 0 30px;
  align-items: start;
}

.login-title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;

  color: #1B1B1B;
}

.btn-login {
  width: $fieldWidth;
  height: $fieldHeight;
}

.link-login-reg {
  width: $fieldWidth / 2;
  height: 17px;
}

.login-close {
  position: relative;
  left: 352px;
  top: 24px;
}