$fieldWidth: 280px;
$fieldHeight: 48px;
@import "fonts";
@import "sign-up";
@import "login";



.popup-fon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  background: rgba(27, 27, 27, 0.7);
}

.popup-frame {
  display: flex;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-items: stretch;

  border-radius: 10px;
  background: #FFFFFF;
}

.popup-left {
  display: flex;
  flex-direction: column;
  flex: 1 1 200px;
  align-items: stretch;

  background: #FFFFFF;
  border-radius: 10px;
}

.name-icon {
  position: relative;
  width: 15px;
  height: 16px;
  top: 1px;
}

.phone-icon {
  position: relative;
  width: 16px;
  height: 15px;
  top: 1px;
}

.email-icon {
  position: relative;
  width: 16px;
  height: 12px;
  top: 2px;
}

.password-icon {
  position: relative;
  width: 12px;
  height: 15px;
  top: 1px;
}

.eye-icon {
  position: relative;
  width: 20px;
  height: 20px;
  top: 1px;
}

input[type="checkbox"] {
  display: none;
}

.checkbox-div {
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 16px;

  border: 1px solid #949494;
  border-radius: 4px;

}

.checkbox-label {
  position: absolute;
  width: $fieldWidth;
  height: $fieldHeight;
  cursor: pointer;
  z-index: 99999;
}

/* формируем внешний вид чекбокса в псевдоэлементе before */
.checkbox-label:before {
  //box-sizing: border-box;
  position: absolute;
  width: $fieldWidth;
  height: $fieldHeight;
  left: 2px;
  //right: 95.36%;
  top: 2px;
  //bottom: 67.65%;
  cursor: pointer;
}

/* вариации внешнего вида в зав-ти от статуса checkbox */
/* checked */
input:checked + label:before {
  content: '';
  background: url("../icon/checked.png") no-repeat;
  background-size: 9px 7px;
  background-position: 2px 2px;
  position: absolute;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  gap: 10px;
  border:none;

  /* Main */

  background: #d19c6c;
  border-radius: 8px;
  //border-color: #D19C6C;
  cursor: pointer;

  &:hover {
    background: #e0a773;
  }

  &:focus {
    outline-color: transparent;
    outline-style:solid;
    background: #e0a773;
  }

  &:active {
    background: #c29165;
  }
}

.btn-text {
  width: 180px;
  height: 21px;

  /* Buttons texts/Button 56 (18 Medium) */

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #FFFFFF;
}

.link {
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #949494;

  &:hover {
    text-decoration: underline;
  }
}

.popup-right {
  display: flex;
  flex: 0 0 400px;
  align-items: stretch;
}

.btn-close {
  position: relative;
  width: 24px;
  height: 24px;
  left: 352px;
  top: 24px;
  cursor: pointer;
}

.icon-cross {
  position: relative;
  width: 16px;
  height: 16px;
  left: 4px;
  top: 4px;
}

.sign-up-fon-cell {
  display: flex;
  flex: 1 1 auto;

  background: url(../icon/signUpFon.png);
  background-size: 100%;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.sign-up-fon-orange {
  display: flex;
  flex: 1 1 400px;
  align-items: stretch;

  background: #D19C6C;
  background-size: 100%;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.sign-up-fon-white {
  display: flex;
  flex: 1 1 auto;
  align-items: stretch;

  background: #F2F2F2;
  background-size: 100%;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.popup-img {
  flex: 1 1 auto;
  align-items: stretch;
  position: relative;
  background-size: 100%;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.left-input-icon {
  position: relative;
  width: 20px;
  height: 20px;
  top: 14px;
  left: 14px;
}

.right-input-icon {
  position: relative;
  width: 20px;
  height: 20px;
  top: -7px;
  left: $fieldWidth - 34px;
}

