.popup-frame-refresh {
  width: $refreshWidth;
  height: $loginHeight;
}

.refresh-body {
  display: flex;
  flex: 0 0 $refreshWidth;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.refresh-elem {
  display: flex;
  flex: 0 0 $fieldHeight;
  justify-content: center;
  align-items: stretch;
  width: $fieldWidth;

  &.refresh-head-elem {
    justify-content: space-between;
    flex: 1 1 auto;
    width: $refreshWidth;
    margin-top: 16px;
  }

  &.refresh-elem-2 {
    flex: 0 0 26px;
    margin-bottom: 16px;
  }

  &.refresh-elem-3 {
    flex: 0 0 34px;
    margin-bottom: 24px;
  }

  &.refresh-bottom-elem {
    align-items: start;
    flex: 1 1 auto;
    margin-top: 32px;
  }
}

.refresh-title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;

  color: #1B1B1B;
}

.refresh-elem-btn {
  margin-top: 8px;
  margin-bottom: 32px;
}

.refresh-close {
  margin-right: 28px;
}

.refresh-back {
  margin-left: 28px;
}

.refresh-text {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;

  text-align: center;
  flex: 0 0 $fieldWidth;
  letter-spacing: 0.04em;

  color: #1B1B1B;
}

