.popup-frame-refresh {
  width: 400px;
  height: 489px;
}

.refresh-body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.refresh-elem {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  height: $fieldHeight;
  width: $fieldWidth;
}

.refresh-head-elem {
  justify-content: space-between;
  flex: 0 0 72px;
  width: 400px;
}

.refresh-bottom-elem {
  align-items: start;
  flex: 0 1 102px;
}

.refresh-title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;

  color: #1B1B1B;
}

.refresh-close {
  margin-right: 28px;
}

.refresh-back {
  margin-left: 28px;
}

.refresh-text {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;

  text-align: center;
  letter-spacing: 0.04em;

  color: #1B1B1B;
}
