.sign-up {
  width: $popupWidth;
  height: $signUpHeight;
}

.sign-up-l-bottom {
  display: flex;
  flex: 0 0 126px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 132px;

  background: #F3F3F3;
}

.sign-up-l-body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.sign-up-l-elem {
  display: flex;
  //flex: 0 0 $fieldHeight;
  justify-content: center;
  align-items: stretch;
  width: $fieldWidth;
  //margin-top: 16px;

  &.head {
    flex: 0 0 26px;
    margin-top: 22px;
    margin-bottom: 16px;
  }

  &.bottom {
    margin-bottom: 20px;
  }
}

.sign-up-title {
  font-weight: 600;
  font-size: 22px;
}

.btn-reg {
  width: $fieldWidth;
  height: $fieldHeight;
}

.sign-up-l-bottom-elem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: $fieldWidth;
  margin: 5px;
}

.link-sign-up-login {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  height: 17px;
  font-size: 14px;
  color: #949494;
}

.sign-up-right-text {
  flex: 0 1 249px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;

  letter-spacing: 0.04em;
  color: #1B1B1B;
}

.sign-up-img {
  background: url(../icon/signUpImg2.png) no-repeat;
}

.sign-up-close {
  flex: 0 0 24px;
  margin-right: 24px;
}

@media screen and (min-width: 375px) and (max-width: 743px){
  .sign-up-l-elem.close {
    justify-content: end;
    flex: 0 0 24px;
    width: 100vw;
    margin-top: 24px;
    .sign-up-close {
      margin-right: 24px;
    }
  }
}