.sign-up-component {
  width: 800px;
  height: 714px;
  align-items: stretch;

  .popup-left {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    align-items: stretch;
    background: $whiteColor;

    .sign-up-l-body {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      align-items: stretch;
      padding: 30px 60px;
      box-sizing: border-box;

      .sign-up-l-elem {
        display: flex;
        justify-content: center;
        align-items: stretch;

        &.head {
          flex: 0 0 26px;
          justify-content: center;
          margin-bottom: 16px;
          position: relative;
        }
        &.btn-reg {
          margin-top: 8px;
          flex: 0 0 $fieldHeight;
        }
        &.elem-5 {
          position: relative;

          .generate-password {
            display: flex;
            align-items: center;
            justify-content: stretch;
            position: absolute;
            width: 100%;
            height: $fieldHeight - 10px;
            border: 1px solid $grayColor;
            border-radius: 8px;
            background: #FFFFFF;
            top: $fieldHeight + 10px;
            cursor: pointer;
            padding: 4px;
            box-sizing: border-box;

            &.disabled {
              display: none;
            }
            &:hover {
              background: rgba(227, 225, 225, 1);
              border-radius: 8px;
            }
            .new-password {
              color: #428bca;
            }
          }
        }
        &.div-input-checkbox {
          flex: 0 0 34px;
          margin-bottom: 12px;
        }
      }
      .phone-field {
        flex-direction: row;
        box-sizing: border-box;
        border: 1px solid gray;
        border-radius: 8px;
        margin-bottom: 16px;

        &.open {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
        .phone-input {
          flex: 1 1 auto;
          border-radius: 8px;
          border: 0;
          padding-left: 12px;

          &:focus {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
          }
        }
      }
    }
    .sign-up-l-bottom {
      display: flex;
      flex: 0 0 132px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: $lightGrayColor;
      padding: 0 60px;
      //box-sizing: border-box;
      position: relative;

      .sign-up-l-bottom-elem {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 50%;
      }
      &::before {
        content: "";
        position: absolute;
        height: 1px;
        top: 66px;
        background: #DBDBDB;
        width: calc(100% - 120px);
      }
      &.safari-margin {
        padding-bottom: 70px;
      }
    }
  }
  .popup-right {
    flex: 0 0 50%;
  }
}

@media screen and (min-width: 744px) and (max-width: 1279px){
  .sign-up-component {
    width: 696px;

    .popup-left {
      .sign-up-l-body {
        padding: 30px 48px;
      }
    }
  }
}

@media screen and (min-width: 375px) and (max-width: 743px){
  .sign-up-component {
    width: 100vw;
    height: 100vh;

    .popup-left {
      flex: 0 0 100%;
      .sign-up-l-body {
        padding: 24px calc(50vw - 158px) 20px calc(50vw - 148px);
        .sign-up-l-elem {
          width: 296px;
        }
        .sign-up-close {
          position: fixed;
          top: 28px;
          right: 28px;
        }
        .sign-up-content {
          display: flex;
          flex-direction: column;
          flex: 1 0 200px;
        }
      }
    }
  }
}