.user-photo__small-card {
    display: flex;
    width: 37px;
    height: 46px;
    background-color: #F7F4ED;
    box-shadow: 0.3727928102016449px -0.18639640510082245px 0.7455856204032898px 0px rgba(0, 0, 0, 0.20) inset;
    filter: drop-shadow(-0.7455856204032898px 1.8639639616012573px 1.4911712408065796px rgba(39, 39, 39, 0.35)) drop-shadow(-0.18639640510082245px 0.7455856204032898px 0.7455856204032898px rgba(48, 38, 29, 0.80));
    border: 3px solid #EDC49F;
    border-radius: 5px;
    overflow: hidden;

    img {
        margin: auto auto 0 auto;
        object-fit: contain;
        width: 100%;
    }
}