.event-join-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px;
    background: #FFFFFF;
    border-radius: 8px;
    font-family: 'Raleway';
    font-style: normal;
    .btn {
        padding: 14px 22px;
    }
}

.event-join-action {
    display: flex;
    align-items: center;
    gap: 40px;
}

.event-join-action-text-paid {
    margin-left: 10px;
}

.event-join-action-buttons {
    .elem-4 {
        display: flex;
        gap: 25px;
    }
    .buttons-board-player-component {
        display: unset;
    }
}
@media only screen and (max-width: 1279px) {
    .event-join-action-buttons {
        .el-2 {
            flex: 0 0 47px !important;
        }
    }
    .event-join-top {
        padding: 24px 20px;
        .event-cards-info {
            max-width: 263px;
        }
    }
    .event-join-action-buttons {
        .elem-4 {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }
    }
    .event-join-action {
        flex-direction: column;
        gap: 19px;
        align-items: flex-start;
    }

    .event-join-action-info {
        margin-left: 10px;
    }

    .event-join-top-organizer {
        .event-join-action-info {
            display: none;
        }
    }
}

@media screen and (max-width: 743px) , (max-width: $maxScreenHeight) and (max-height: 743px) and (orientation: landscape) {
    .event-join-top {
        display: none;
    }

}