.event-members-component {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  border: 1px solid $grayColor;
  border-radius: 10px;
  align-items: stretch;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 28px;
  padding-bottom: 34px;
  box-sizing: border-box;

  .players-list {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    max-height: 560px;
    padding-right: 8px;
    box-sizing: border-box;
    row-gap: 16px;

    &.no-exists {
      align-items: center;
      row-gap: 8px;
      flex: 0 0 182px;
      padding: 0;

      .socer-player-icon {
        margin-bottom: 8px;
        margin-top: 41px;
      }
    }
  }

  .title {
    display: flex;
    flex: 0 0 24px;
    margin-bottom: 6px !important;
    font-weight: 700;
    font-size: 20px;
    margin-top: 0 !important;
  }
}

@media screen and (min-width: 744px) and (max-width: 1279px){
  .event-members-component {
    padding: 24px;
  }
}

@media screen and (max-width: 743px) , (max-width: $maxScreenHeight) and (max-height: 743px) and (orientation: landscape){
  .event-members-component {
    padding: 20px;
    flex: 0 0 auto;

    &.disabled {
      display: none;
    }

    .title {
      display: flex !important;
      font-weight: 700;
      font-size: 18px;
    }
  }
}
