.search-component {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  position: relative;

  input[type=text]{
    position: relative;
    flex: 0 0 36px;
    border: 0;
    border-radius: 0;

    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    border-bottom: 1px solid #DBDBDB;

    &:active {
      outline: 0;
    }
    &:focus {
      outline: 0;
    }
  }
  .icon {
    position: absolute;
    height: 100%;
    top: 0;
    width: 42px;
  }
}