.general-information-component {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1 1 auto;
  gap: 32px;
  position: relative;

  .table {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .table-head {
      display: flex;
      background: $lightGrayColor;
      padding-left: 25px;
      gap: 15px;
      align-items: center;
      flex: 0 0 48px;

      .socer-player-icon {
        background-size: 20px;
        height: 20px;
        width: 20px;
      }
      .color {
        width: 12px;
        height: 12px;
        border-radius: 6px;
        background-position: center;
      }
    }
  }
}

.general-information-component .table .table-body {
  display: flex;
  flex-direction: column;
  background: $whiteColor;

  .reglament-row {
    display: flex;
    flex: 0 0 94px;
    align-self: stretch;
    box-sizing: border-box;
    gap: 36px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 24px;

    .el {
      display: flex;
      flex-direction: column;
      gap: 8px;
      flex-wrap: nowrap;
    }
  }

  .game-row {
    display: flex;
    flex: 0 0 40px;
    align-items: center;
    padding: 8px 24px 8px 10px;
    box-sizing: border-box;

    .elem-1 {
      display: flex;
      align-items: center;
      flex: 1 1 auto;

      .el {
        display: flex;

        &.el-1 {
          margin-right: 8px;
          flex: 0 0 16px;
        }
        &.el-2 {
          flex: 0 0 100px;
        }
        &.el-3 {
          margin-right: 25px;
          margin-left: 25px;
          flex: 0 0 25px;
          justify-content: center;
        }
        &.el-4 {
          flex: 0 0 100px;
        }
      }
      .color {
        width: 12px;
        height: 12px;
        border-radius: 6px;
        background-position: center;
        margin-right: 8px;
      }
    }

    .elem-2 {
      flex: 0 0 118px;
      padding: 0 24px;
      border-radius: 50px;
      height: 24px;
      font-size: 12px;

      &.hidden {
        display: none;
      }
    }

    &:hover {
      background: #E6E6E6;
      text-decoration: none;
    }
  }

  .tournament-row {
    display: flex;
    flex: 0 0 40px;
    align-items: center;
    padding: 8px 24px 8px 10px;
    box-sizing: border-box;
    gap: 12px;

    .elem {
      display: flex;
      justify-content: center;
    }
    .elem-1 {
      flex: 0 0 20px;
      justify-content: start;
    }
    .elem-2 {
      flex: 1 0 75px;
      justify-content: start;
      align-items: center;

      .color {
        width: 12px;
        height: 12px;
        border-radius: 6px;
        background-position: center;
        margin-right: 8px;
      }
    }
    .elem-3 {
      flex: 0 0 100px;
    }
    .elem-4 {
      flex: 0 0 100px;
    }
    .elem-5 {
      flex: 0 0 100px;
      gap: 5.5px;

      .ball-icon {
        width: 20px;
      }
    }
    .elem-6 {
      flex: 0 0 100px;
    }
    &.gray-bottom {
      box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);
    }
  }

  .player-row {
    display: flex;
    flex: 0 0 44px;
    align-items: center;
    padding: 6px 8px;
    box-sizing: border-box;
    gap: 12px;

    .elem {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 64px;
    }
    .elem-1 {
      flex: 0 0 20px;
      justify-content: start;
    }
    .elem-2 {
      flex: 1 0 175px;
      justify-content: start;
      gap: 8px;

      .icon {
        display: flex;
        flex: 0 0 26px;
        height: 32px;
      }
    }
    &.gray-bottom {
      box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);
    }
  }
}

@media screen and (max-width: 743px) , (max-width: $maxScreenHeight) and (max-height: 743px) and (orientation: landscape){
  .general-information-component {
    gap: 16px;

    .table {
      .table-body {
        .reglament-row {
          flex: 0 0 125px;
          padding: 16px 20px;
          justify-content: start;
          gap: 25px 40px;

          .el {
            gap: 4px;
          }
        }
      }
    }
  }

  .general-information-component .table .table-body {
    .game-row {
      padding: 8px 6px 8px 20px;

      .elem-2 {
        flex: 0 0 70px;
        padding: 0 4px;
        font-size: 10px;
      }
    }
    .tournament-row {
      padding: 8px 16px 8px 10px;

      .elem-1 {
        flex: 0 0 20px;
        justify-content: end;
      }
      .elem-2 {
        flex: 1 0 90px;
        justify-content: start;
      }
      .elem-3 {
        flex: 0 0 22px;
      }
      .elem-4 {
        flex: 0 0 73px;
      }
      .elem-5 {
        flex: 0 0 65px;
        gap: 5.5px;

        .ball-icon {
          width: 20px;
        }
      }
      .elem-6 {
        flex: 0 0 14px;
      }
      &.gray-bottom {
        box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);
      }
    }
    .player-row {
      padding: 6px 8px;
      flex: 0 0 44px;
      gap: 8px;

      .gray-400-13 {
        font-size: 10px;
      }

      .elem-1 {
        flex: 0 0 16px;
        justify-content: end;
      }
      .elem-2 {
        flex: 1 0 120px;
        //justify-content: start;
      }
      .elem-3 {
        flex: 0 0 24px;
      }
      .elem-4 {
        flex: 0 0 24px;
      }
      .elem-5 {
        flex: 0 0 24px;
        gap: 5.5px;
      }
      .elem-6 {
        flex: 0 0 44px;
      }
      .elem-7 {
        flex: 0 0 52px;
      }
    }
  }
}