.event-component {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: stretch;
  gap: 40px;
  .event-player-buttons-376 {
    display: none;
  }
  .event-organizer-buttons-376 {
    display: none;
  }

  &.loader {
    align-self: stretch;
    position: relative;
  }
}

.event-component-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.04em;
  color: $blackColor;
  margin-bottom: -10px;
}

.same-events-component {
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-sizing: border-box;

  .elem {
    display: flex;
  }
}

.same-events__list {
  gap: 56px;
}

@media only screen and (max-width: 1279px) {
  .event-component-title {
    margin-top: 5px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 744px) and (max-width: 1279px){
  .event-component {
    gap: 24px;
  }
  .same-events-component {
    gap: 20px;

    .same-events__list {
      gap: 20px;

      .same-event-2 {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 743px) , (max-width: $maxScreenHeight) and (max-height: 743px) and (orientation: landscape){
  .organizer-watch-results-btn {
    position: absolute;
    bottom: 80px;
    z-index: 500;
    left: 50%;
    width: max-content;
    transform: translate(-50%, 0);
  }
  .event-component-organizer {
    .event-player-buttons-376 {
      display: none !important;
    }
  }
  .event-component-title {
    font-weight: 600;
    font-size: 20px;
  }
  .event-component {
    padding: 0 16px 25px 16px;
    gap: 20px;
    padding-bottom: 90px;
    .same-events-component {
      margin-top: 8px;
    }
    .event-chat-component  {
      margin-top: 8px;
    }
    //overflow: auto;
    .top-376-component {
      margin-bottom: -20px;
      .elem-2 {
        display: flex;
        align-items: center;
      }
    }
    .event-player-buttons-376 {
      width: 303px;
      display: block;
      position: fixed;
      z-index: 999;
      bottom: 80px;
      left: 50%;
      transform: translateX(-50%);
      button {
        width: 100%;
        height: 48px;
        font-size: 16px;
      }
      .btn-second {
        border: 0px;
        background: #d19c6c;
        color: #FFFFFF;
      }
    }
    .event-organizer-buttons-376 {
      display: block;
      width: 303px;
      position: fixed;
      z-index: 999;
      bottom: 80px;
      left: 50%;
      transform: translateX(-50%);
      button, a {
        width: 100%;
        padding: 13px 22px;
      }
      a {
        padding: 14px 22px;
      }
      .organizer-repeat-event-button {
        display: none;
      }
      
      .organizer-watch-results-btn {
        bottom: 0px;
      }
    }
  }
  .event-info-slider {
    .swiper-pagination-bullet {
      width: 6px;
      height: 6px;
    }
  }
  .same-events-component {
    margin-top: 0px;
    gap: 20px;

    .elem {

      .same-event-1 {
        display: none;
      }
      .same-event-2 {
        display: none;
      }
    }
    .elem-1 {
      font-size: 18px;
      font-weight: 700;
    }
  }
}

@media screen and (max-width: 405px){
  .event-component {
    .same-events-component {
      .same-event-component {
        flex: 0 0 calc(100vw - 32px);
      }
    }
  }
}
