.close-button-component {
  width: 16px;
  height: 16px;
  cursor: pointer;
  background: url("../../assets/icon/cross.png") no-repeat;
  background-size: 16px 16px;
  background-position: center;
  position: absolute;
}