.user-profile__achiev-title-376 {
    margin-top: 24px;
    
    color: #1B1B1B;
    font-family: "Fira Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.user-profile__achiev-list-376 {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
}