.my-profile-component {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 14px;
  flex: 1 1 auto;

  .menu-376 {
    display: flex;
    flex: 0 0 32px;
    box-sizing: border-box;
    padding-left: 22px;
    padding-right: 14px;
    justify-content: space-between;
    align-items: stretch;

    .settings-icon {
      display: flex;
      flex: 0 0 32px;
    }
  }
}