[Unit]
Description=gunicorn daemon
Requires=gunicorn_recalculation.socket
After=network.target

[Service]
User=wildberries
Group=www-data
WorkingDirectory=/home/site/Playbot_football
Environment="PATH=/home/site/Playbot_football/venv/bin"
ExecStart=/home/site/Playbot_football/venv/bin/python3 /home/site/Playbot_football/recalculation_rank.py

[Install]
WantedBy=multi-user.target