[Unit]
Description=gunicorn daemon
Requires=gunicorn_celery.socket
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/site/Playbot_football
Environment="PATH=/home/site/Playbot_football/venv/bin"
ExecStart=/home/site/Playbot_football/venv/bin/celery --app=playbot.taskapp worker --loglevel=INFO

[Install]
WantedBy=multi-user.target