.game-player-component {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .manage {
    display: flex;
    border: 1px solid #EDEDED;
    background: $whiteColor;
    border-radius: 8px;
    flex-direction: column;
    align-items: stretch;

    .elem {
      display: flex;
      align-items: center;
      justify-content: center;

    }
    .elem-1 {
      flex: 0 0 87px;
      gap: 40px;
    }
    .elem-2 {
      flex: 0 0 72px;
      background: #F9F9F9;
      gap: 4px;

      .clock-digit {
        display: flex;
        flex: 0 0 32px;
        background: #EBEBEB;
        border-radius: 8px;
        position: relative;
        align-items: center;
        justify-content: center;
        height: 38px;

        .second-fon {
          position: absolute;
          background: $lightGrayColor;
          top: -1px;
          height: 36px;
          width: 32px;
          border-radius: 8px;
          display: flex;
          justify-content: center;
        }
      }
      .clock-middle-icon {
        display: flex;
        align-self: stretch;
        margin: 0 8px;
        flex: 0 0 4px;
      }
    }
    .elem-3 {
      flex: 0 0 102px;
      gap: 64px;

      .btn {
          flex: 0 0 98px;
          height: 48px;
        }
        .icon {
          display: flex;
          background-size: 13.5px;
          align-self: stretch;
          flex: 0 0 13.5px;
        }

      .btn-block {
        position: relative;
        display: flex;
        flex: 0 0 98px;

        .players-list {
          display: flex;
          position: absolute;
          width: 256px;
          height: auto;
          top: 52px;
          background: $whiteColor;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
          border-radius: 8px;
          padding: 6px 8px;
          box-sizing: border-box;
          justify-content: stretch;
          z-index: 3;

          &.hidden {
            display: none;
          }

          &.player-list-1 {
            left: 0;
          }

          &.player-list-2 {
            right: 0;
          }

          .list {
            display: flex;
            flex-direction: column;
            padding: 0 10px;
            box-sizing: border-box;
            gap: 4px;
            max-height: 190px;
            flex: 1 1 auto;

            .el {
              display: flex;
              flex: 0 0 28px;
              cursor: pointer;
              align-items: center;

              &:hover {
                background: rgba(227, 225, 225, 0.63);
                border-radius: 4px;
              }
            }
          }
        }
      }
    }
    .elem-4 {
      flex: 0 0 72px;
      background: #F9F9F9;
      gap: 12px;
      flex-direction: column;
      padding: 9px 0 13px 0;
      box-sizing: border-box;

      .el-1 {
        height: 14px;
      }
      .el-2 {
        flex: 0 0 24px;
        border-radius: 50px;
        padding: 0px 22px;
      }
    }

    .elem-5 {
      padding: 18px 0 21px 0;
      border-top: 1px solid #EDEDED;
      position: relative;
      gap: 8px;
      flex-direction: column;
      align-items: stretch;

      .goal-row {
        display: flex;
        flex: 0 0 32px;
        gap: 8px;
        align-items: center;
        position: relative;
        box-sizing: border-box;
        padding: 0 10px;

        &.goal-row-1 {
          .gray-line {
            left: 34px;
          }
          .icon {
            margin-right: 10px;
          }
        }
        &.goal-row-2 {
          justify-content: end;
          .gray-line {
            right: 34px;
          }
          .icon {
            margin-left: 10px;
          }
        }
        .gray-line {
          width: 12px;
          height: 1px;
          position: absolute;
          top: 50%;
          background: #EDEDED;
        }
        .black-ball-icon {
          display: flex;
          flex: 0 0 13px;
          height: 13px;
          background-size: contain;
        }
        .icon {
          display: flex;
          align-self: stretch;
          height: 100%;
          flex: 0 0 24px;
          background-size: auto 32px;
        }
      }
    }
  }

  .teams {
    display: flex;
    align-items: stretch;
    flex-direction: column;

    .elem-1 {
      display: flex;
      background: $lightGrayColor;
      padding: 0 24px;
      align-items: center;
      justify-content: space-between;
      flex: 0 0 48px;

      .icon {
        display: flex;
        align-self: stretch;
        flex: 0 0 10px;
      }
    }
    .elem-2 {
      display: flex;
      padding: 23px 10px 37px 10px;
      background: $whiteColor;

      .team {
        display: flex;
        flex: 0 0 50%;
        gap: 4px;
        flex-direction: column;
        box-sizing: border-box;
        padding-left: 30px;

        .player {
          display: flex;
          gap: 16px;
          flex: 0 0 36px;
          align-items: center;

          .player-avatar-icon {
            display: flex;
            background-size: auto 36px;
            align-self: stretch;
            flex: 0 0 25px;

          }
        }
      }
      .team-1 {
        border-right: 1px solid #D9D9D9;;
      }
      .team-2 {
      }
    }
  }
}

@media screen and (min-width: 375px) and (max-width: 743px){
  .game-player-component {
    gap: 16px;
    .manage {
      .elem-3 {
        gap: 20px;
      }
    }

    .teams {
      .elem-2 {
        flex-direction: column;
        background: $lightGrayColor;
        gap: 12px;
        padding: 0;

        .team {
          background: $whiteColor;
          padding: 15px 20px 8px;
          flex: 1 1 auto;
        }
        .team-1 {
          border: 0;
        }
      }
    }
  }
}