.choice-city-component {
  display: flex;
  flex: 0 0 $choiceCityWidth;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  height: $choiceCityHeight;
  box-sizing: border-box;
  padding: 40px;

  .elem {
    display: flex;

    &.head {
      justify-content: space-between;
      flex: 0 0 26px;
      padding: 0;
      margin-bottom: 10px;
    }
    &.cities {
      flex: 1 1 480px;
      margin-top: 16px;
      align-items: stretch;
    }
    &.bottom {
      justify-content: center;
      margin-top: 40px;
      flex: 0 0 $fieldHeight;
    }
    &.safari-margin {
      margin-bottom: 110px !important;
    }
  }
}

.btn-choice-city {
  flex: 0 0 $fieldHeight;
}

@media screen and (min-width: 375px) and (max-width: 743px) , (min-height: 375px) and (max-height: 743px) and (orientation: landscape) {
  .choice-city-component {
    flex: 0 0 100%;
  }
}