.event-description-component {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  background: $whiteColor;
  border-radius: 8px;
  padding: 32px 40px;
  align-items: stretch;
  box-sizing: border-box;

  .elem-744 {
    display: none;
  }
  .elem-376 {
    display: none;
  }
  .elem-1280 {
    display: flex;

    &.elem-1 {
      flex: 0 0 19px !important;
      justify-content: space-between !important;
      flex-direction: row !important;
      margin-right: 0 !important;
      margin-bottom: 43.5px;

      .el {
        display: flex;
        padding-left: 30px;
        align-items: center;
        box-sizing: border-box;
      }
      .black-edit-icon {
        flex: 0 0 166px;
        font-weight: 500;
        font-size: 14px;
      }
      .gray-copy-icon {
        flex: 0 0 179px;
        line-height: 19px;
      }
    }

    &.elem-2 {
      flex: 0 0 24px !important;
      margin-bottom: 31px;
    }
    &.elem-3 {
      flex: 0 0 28px;
      padding-left: 30px;
      background-position: left top;
      margin-bottom: 23px;
    }
    &.elem-4 {
      margin-bottom: 8px;
      flex: 0 0 16px;
      justify-content: space-between !important;

      .el {
        display: flex;
      }
      .el-1 {
        flex: 0 0 42px;
      }
      .el-2 {
        flex: 0 0 83px;
      }
    }

    &.elem-5 {
      margin-bottom: 24px;
      flex: 1 1 auto;
      justify-content: space-between !important;

      .el {
        display: flex;

        .gray-copy-icon {
          width: 20px;
          display: block;
          position: absolute;
          height: 20px;
          top: 0;
          right: 0;
        }
      }
      .el-1 {
        flex: 0 0 360px;
        padding-right: 40px;
        position: relative;
      }
      .el-2 {
        flex: 1 1 auto;
        justify-content: end;
      }
    }
    &.elem-6 {
      margin-bottom: 8px;
    }
    &.elem-7 {
      margin-bottom: 40px;
    }
    &.elem-8 {
      flex: 0 0 77px;
      border: 1px solid $grayColor;
      border-radius: 8px;
      max-height: 200px;
      justify-content: stretch;

      .leaflet-container {
        flex: 1 1 auto;
      }
      .leaflet-bottom.leaflet-right {
        display: none;
      }
      .leaflet-control-container {
        display: none;
      }
      &.hidden {
        display: none !important;
      }
    }
  }
}

.tooltip {
  position: fixed;
  display: flex;
  width: 230px;
  top: 30vh;
  padding: 20px;
  left: calc(50vw - 115px);
  border: 1px solid $grayColor;
  border-radius: 8px;
  background: $whiteColor;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
  z-index: 500;

  &.hidden {
    display: none;
  }
}

@media screen and (min-width: 744px) and (max-width: 1279px){
  .event-description-component {
    padding: 20px 24px;

    .elem-1280 {
      &.elem-1 {
        margin-bottom: 24px;
      }
      &.elem-2 {
        margin-bottom: 24px;
      }
      &.elem-3 {
        margin-bottom: 24px;
      }
      &.elem-4 {
        margin-bottom: 8px;
      }
      &.elem-5 {
        margin-bottom: 24px;
      }
      &.elem-6 {
        margin-bottom: 8px;
      }
      &.elem-7 {
        margin-bottom: 24px;
      }
    }

    .elem-744 {
      display: flex;

      &.elem-1 {
        flex: 0 0 19px !important;
        justify-content: space-between !important;
        flex-direction: row !important;
        margin-right: 0 !important;

        .el {
          display: flex;
          padding-left: 30px;
          color: #1B1B1B;
          align-items: center;
          box-sizing: border-box;
        }
        .black-edit-icon {
          flex: 0 0 166px;
          font-weight: 500;
          font-size: 14px;
        }
        .gray-copy-icon {
          flex: 0 0 20px;
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
        }
      }

      &.elem-2 {
        flex: 0 0 24px !important;
        font-weight: 700;
        font-size: 20px;
        margin-top: 28px;
      }
      &.elem-3 {
        margin-top: 22px;
        flex: 0 0 28px;
        padding-left: 30px;
        background-position: left top;
      }
      &.elem-4 {
        margin-top: 16px;
        font-size: 13px;
        color: #000000;
      }
      &.elem-5 {
        margin-top: 8px;
        font-weight: 600;
        font-size: 18px;
      }
      &.elem-6 {
        margin-top: 24px;
        font-size: 13px;
        color: #000000;
      }
      &.elem-7 {
        margin-top: 8px;
        font-weight: 600;
        font-size: 18px;
      }
      &.elem-8 {
        margin-top: 24px;
        flex: 0 0 77px;
        border: 1px solid $grayColor;
        border-radius: 8px;
        justify-content: stretch;

        .leaflet-container {
          flex: 1 1 auto;
        }
        .leaflet-bottom.leaflet-right {
          display: none;
        }
        .leaflet-control-container {
          display: none;
        }
        &.hidden {
          display: none !important;
        }
      }
    }
  }
}

@media screen and (min-width: 375px) and (max-width: 743px){
  .event-description-component {
    padding: 0;
    flex: none;

    &.disabled {
      display: none;
    }
    .elem-1280 {
      display: none !important;
    }
    .elem-744 {
      display: none;
    }
    .elem-376 {
      display: flex;
      margin: 0 20px;
      box-sizing: border-box;

      &.elem-1 {
        flex: 0 0 19px !important;
        justify-content: space-between !important;
        flex-direction: row !important;
        margin-top: 24px;
        margin-bottom: 24px;

        .el {
          display: flex;
          align-items: center;
          box-sizing: border-box;
        }
        .gray-copy-icon {
          flex: 0 0 20px;
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          line-height: 19px;
        }
      }
      &.elem-2 {
        flex: 0 0 28px !important;
        padding-left: 30px;
        background-position: left top;
        margin-bottom: 8px !important;
      }
      &.elem-3 {
        flex: 0 0 19px !important;
        font-size: 13px;
        margin-bottom: 8px !important;
      }
      &.elem-4 {
        flex: 0 0 19px !important;
        margin-bottom: 24px !important;
      }
      &.elem-5 {
        flex: 0 0 19px !important;
        margin-bottom: 8px !important;
      }
      &.elem-6 {
        margin-bottom: 24px !important;
        justify-content: space-between;
        flex-direction: row;
        gap: 30px;

        .el {
          display: flex;
          box-sizing: border-box;
        }
        .gray-copy-icon {
          flex: 0 0 20px;
          background-position: center top;
        }
      }
      &.elem-7 {
        margin-bottom: 8px;
      }
      &.elem-8 {
        margin-bottom: 27px;
      }
      &.elem-9 {
        flex: 0 0 97px !important;
        border: 1px solid $grayColor;
        border-radius: 0 0 8px 8px;
        justify-content: stretch;
        margin: 0;

        .leaflet-container {
          flex: 1 1 auto;
        }
        .leaflet-bottom.leaflet-right {
          display: none;
        }
        .leaflet-control-container {
          display: none;
        }
        &.hidden {
          display: none !important;
        }
      }
    }
  }
  .tooltip {
    left: calc(50vw - 131px);
  }
}