.refresh-password-component {
  width: 400px;
  height: 489px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 60px;
  justify-content: center;
  position: relative;

  .refresh-head-elem {
    justify-content: space-between;
    flex: 1 1 auto;
    width: 100%;
    top: 28px;
    position: absolute;
    padding: 0 28px 0 30px;
    display: flex;
    left: 0;
    box-sizing: border-box;
  }
  .refresh-title {
    display: flex;
    justify-content: center;
  }
  .refresh-text {
    display: flex;
    justify-content: center;
    margin: 16px 0;
    text-align: center;
  }
  .btn {
    margin: 8px 0 32px 0;
    flex: 0 0 $fieldHeight;
  }
  .refresh-bottom-elem {
    display: flex;
    flex: 0 0 84px;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 375px) and (max-width: 743px){
  .refresh-password-component {
    width: 100vw;
    height: 100vh;
    padding: 0 calc(50vw - 148px);
  }
}
