.profile-aside-component {
  display: flex;
  flex: 0 0 378px;
  background: $whiteColor;
  box-shadow: 0px 2px 10px rgba(215, 215, 215, 0.25);
  flex-direction: column;

  .elem {
    display: flex;
    border-top: 1px solid #E4E4E4;
    flex: 0 0 76px;
    align-items: stretch;
    box-sizing: border-box;

    &.elem-376 {
      display: none;
    }
    &.elem-1 {
      flex: 0 0 506px;
      padding: 46px 60px 28px 60px;
      gap: 12px;
      align-items: center;
      flex-direction: column;

      &.loader {
        position: relative;
      }
      .emblem-component {
        margin-bottom: 8px;
      }
      .scale {
        display: flex;
        flex: 0 0 6px;
        box-sizing: border-box;
        border: 1px solid #D19C6C;
        border-radius: 3px;
        align-self: stretch;
        position: relative;

        .fill-scale {
          position: absolute;
          left: 0;
          background: #D19C6C;
          height: 4px;
          border-radius: 2px;
          top: 0;
        }
      }
    }
    &.elem-4 {
      flex-direction: column;
      justify-content: space-between;
      padding: 15px 0 15px 60px;
    }
    &.elem-5 {
      flex: 0 0 465px;
      padding: 16px 0 0 60px;
      gap: 12px;
      flex-direction: column;

      &.loader {
        position: relative;
      }
      .football-field {
        display: flex;
        flex: 0 0 132px;
        background: $whiteColor;
        border: 1px solid #CACACA;
        border-radius: 8px;
        width: 262px;
        position: relative;
        box-sizing: border-box;

        .gate {
          position: absolute;
          width: 18px;
          height: 54px;
          border: 1px solid #CACACA;
          top: calc(50% - 27px);
          box-sizing: border-box;
          &.gate-1 {
            left: 0;
            border-left: 0;
          }
          &.gate-2 {
            right: 0;
            border-right: 0;
          }
        }
        .over-gate {
          position: absolute;
          width: 44px;
          height: 92px;
          border: 1px solid #CACACA;
          top: calc(50% - 46px);
          box-sizing: border-box;
          &.over-gate-1 {
            left: 0;
            border-left: 0;
          }
          &.over-gate-2 {
            right: 0;
            border-right: 0;
          }
        }
        .gate-circle {
          position: absolute;
          width: 20px;
          height: 40px;
          border: 1px solid #CACACA;
          top: calc(50% - 20px);
          box-sizing: border-box;
          &.gate-circle-1 {
            left: 44px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            border-left: 0;
          }
          &.gate-circle-2 {
            right: 44px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            border-right: 0;
          }
        }
        .central-line {
          position: absolute;
          left: 50%;
          height: 100%;
          width: 1px;
          border-left: 1px solid #CACACA;
          box-sizing: border-box;
        }
        .central-circle {
          position: absolute;
          width: 60px;
          height: 60px;
          left: calc(50% - 30px);
          top: calc(50% - 30px);
          border: 1px solid #CACACA;
          border-radius: 30px;
          transform: matrix(-1, 0, 0, 1, 0, 0);
          box-sizing: border-box;
        }
        .central-point {
          position: absolute;
          background: #CACACA;
          width: 5px;
          height: 5px;
          left: calc(50% - 2.5px);
          top: calc(50% - 2.5px);
        }
        .circle {
          position: absolute;
          width: 14px;
          height: 14px;
          border-radius: 7px;
          border: 2px solid #BCBCBC;
          box-sizing: border-box;
          align-items: center;
          display: flex;
          white-space: nowrap;
          &.fill {
            background: #D9D9D9;
            border: 0;
            color: #D9D9D9;
          }
          &.orange-fill {
            background: $orangeColor;
            border: 0;
            color: $orangeColor;
          }
          &.circle-1 {
            top: 36px;
            left: 56px;
          }
          &.circle-2 {
            top: 12px;
            left: 89px;
          }
          &.circle-3 {
            top: 40px;
            right: calc(50% - 7px);
          }
          &.circle-4 {
            top: 12px;
            right: 89px;
          }
          &.circle-5 {
            top: 36px;
            right: 56px;
          }
          &.circle-6 {
            top: calc(50% - 7px);
            right: 22px;
          }
          &.circle-7 {
            bottom: 36px;
            right: 56px;
          }
          &.circle-8 {
            bottom: 12px;
            right: 89px;
          }
          &.circle-9 {
            bottom: 40px;
            right: calc(50% - 7px);
          }
          &.circle-10 {
            bottom: 12px;
            left: 89px;
          }
          &.circle-11 {
            bottom: 36px;
            left: 56px;
          }
        }
      }
      .title-regards {
        margin-bottom: 8px;
        margin-top: 20px;
      }
      .regards {
        display: flex;
        gap: 24px;
        flex: 0 0 40px;
        align-items: stretch;
        .icon {
          display: flex;
          flex: 0 0 32px;
        }
      }
    }
    .item {
      display: flex;
      flex: 0 0 50%;
      box-sizing: border-box;
      flex-direction: column;
      justify-content: center;
      &.item-left {
        border-right: 1px solid #E4E4E4;
        padding: 0 0 0 60px;
      }
      &.item-right {
        padding: 0 0 0 25px;
      }
      .icon {
        display: flex;
        flex: 0 0 30px;
        padding-left: 26px;
        background-position: left center;

        &.socer-player-icon {
          height: 30px;
          background-size: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: 744px) and (max-width: 1279px){
  .profile-aside-component {
    flex: 0 0 324px;
    .elem {
      &.elem-1 {
        padding: 33px 33px;
        flex: 0 0 498px;
      }
      &.elem-4 {
        padding: 15px 0 15px 20px;
      }
      &.elem-5 {
        flex: 0 0 405px;
        padding: 16px 0 0 24px;
      }
      .item {
        &.item-left {
          padding: 0 0 0 25px;
        }
      }
    }
  }
}

@media screen and (max-width: 743px) , (min-height: 375px) and (max-height: 743px) and (orientation: landscape){
  .profile-aside-component {
    flex: 1 1 auto;
    box-shadow: none;

    .elem {
      &.elem-1 {
        display: none;
      }
      &.elem-376 {
        display: flex;
        flex: 0 0 190px;
        box-sizing: border-box;
        padding: 0 20px 17px 20px;
        border: 0;
      }
      &.elem-4 {
        display: none;
      }
      &.elem-5 {
        padding: 18px 40px 0 40px;
        .title-regards {
          align-self: center;
        }
        .regards {
          justify-content: center;
        }
        .football-field {
          align-self: center;
        }
        .above-field-text {
          margin-left: calc(50% - 131px);
        }
      }
      .item {
        &.item-left {
          padding: 0 0 0 40px;
        }
        &.item-right {
          padding: 0 0 0 40px;
        }
      }
    }
  }
}