.EventLimitsInfo376 {
    display: none;
}

@media screen and (max-width: 743px) , (max-width: $maxScreenHeight) and (max-height: 743px) and (orientation: landscape) {
    .EventLimitsInfo376 {
        display: block;
        .event-info-card {
            background-color: #ffffff;
        }
        .event-cards-info {
            max-width: unset;
        }
    }
}