.EventLimitsInfo376 {
    padding: 20px;
    background: #FFFFFF;
    border-radius: 8px;
    display: none;
}

@media only screen and (max-width: 743px) {
    .EventLimitsInfo376 {
        display: block;
        .event-cards-info {
            max-width: unset;
        }
    }
}