.confirm-teams-component {
  &.reglament-component {
    flex: 0 0 540px;
    height: 709px;
  }
}

.confirm-teams-component .elem {
  display: flex;
  box-sizing: border-box;

  &.elem-4 {
    flex: 0 0 78px;
    align-self: stretch;
    background: #F9F9F9;
    box-sizing: border-box;
    gap: 22px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 12px 20px 12px 20px;
    margin-bottom: 16px;

    .el {
      display: flex;
      flex-direction: column;
      gap: 8px;
      flex-wrap: nowrap;
    }
  }
  &.elem-5 {
    margin: 0 8px 0 24px;
    padding: 0 16px 0 0;
    flex-direction: column;
    align-self: stretch;

    .team {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding-top: 28px;

      .team-name {
        display: flex;
        gap: 12px;
        flex: 0 0 20px;
        margin-bottom: 12px;
      }
      .el {
        display: flex;
        flex: 0 0 56px;
        align-items: center;
        gap: 12px;
        box-sizing: border-box;
        border-bottom: 1px solid #EBEBEB;
        padding: 6px 0;
        justify-content: space-between;

        .avatar {
          flex: 0 0 32px;
          height: 40px;
        }
        .username {
          word-break: break-all;
          flex: 1 1 auto;
        }
      }
    }
  }
  &.elem-7 {
    align-self: stretch;
    flex: 0 0 72px;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 8px 8px;
    justify-content: center;
    align-items: stretch;
    padding: 12px 0;

    .btn {
      flex: 0 0 219px;
    }
    span {
      flex: 0 0 155px;
      align-items: center;
    }
  }
}

@media screen and (max-width: 743px) , (max-width: $maxScreenHeight) and (max-height: 743px) and (orientation: landscape){
  .confirm-teams-component {
    &.reglament-component {
      flex: 0 0 100%;
      height: 100%;
    }
  }

  .confirm-teams-component {
    .elem {
      &.elem-4 {
        margin-bottom: 0;
      }
      &.elem-7 {
        flex: 0 0 99px;
        flex-direction: column;
        padding: 26px 16px;

        .btn {
          flex: 0 0 48px;
        }
        span {
          flex: 0 0 17px;
          align-items: center;
        }
        &.safari-margin {
          padding: 8px 40px 82px 40px;
        }
      }
    }
  }
}


