.warning-notice-component {
  display: flex;
  padding: 14px 24px;
  background: #FFFDF5;
  border-radius: 8px;
  gap: 16px;
  flex: 1 1 auto;

  .icon {
    display: flex;
    flex: 0 0 24px;
    height: 22px;
  }
  &.critical {
    background: #FFF3F2;
  }
  .content {
    flex: 1 1 auto;
  };
}

@media screen and (min-width: 375px) and (max-width: 743px){
  .warning-notice-component {
    border-radius: 0;
  }
}