.overlay-wrapper {
  font-family: "Inter";
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  position: relative;
  --white: #ffffff;
  --green: #a8ffa1;
  --red: #ff6060;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding-bottom: 2vh;
  padding-top: 2vh;
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .active {
    animation: blink 0.8s 4;
  }
  
  .activePass {
    animation: blink 1s 1;
  }

  .overlay-main {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    /* width: 62.5%; */
    width: 100%;
  }
  .score-table {
    background: rgba(50, 50, 50, 0.58);
    border-radius: 0.4vw;
    position: relative;
    display: flex;
    height: 3.61vh;
    justify-content: space-between;
    align-items: center;
  }
  .score-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* .score-table-left{
  } */
  .score-table-center {
    flex-direction: column;
    font-style: normal;
    font-weight: 700;
    color: var(--white);
    gap: 9px;
    gap: 0.8vh;
    width: 4.1vw;
    span {
      color: var(--white);
    }
  }
  
  .test {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
    opacity: 1;
  }
  
  .score-table-stage {
    background-color: rgba(50, 50, 50, 0.58);
    padding: 5px;
    padding: 0.25vw;
    margin-top: 0.45vh;
    border-radius: 5.2807px;
    color: var(--white);
    font-weight: 700;
    font-size: 10px;
    font-size: 0.53vw;
  }
  
  .pause {
    color: var(--white);
    height: 2.5vh;
    width: 1.3vw;
    font-size: 3vw;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    animation: blink 0.8s infinite;
  }
  
  .pause-stick {
    width: 0.5vw;
    background-color: var(--white);
    border: 0.1vw solid rgba(50, 50, 50, 0.58);
  }
  
  .timer {
    font-size: 15px;
    font-size: 0.77vw;
  }
  .period {
    font-size: 15px;
    font-size: 0.8vw;
  }
  .score-table-right {
    flex-direction: row-reverse;
  }
  .team-color {
    /* height: 68px; */
    height: 2.7vh;
    /* width: 43px; */
    width: 1vw;
  }
  .left-team-color {
    background-color: var(--green);
    border-top-left-radius: 0.4vw;
    border-bottom-left-radius: 0.4vw;
    margin: 0.9vh 0.68vw;
  }
  .right-team-color {
    background-color: var(--red);
    border-top-right-radius: 0.4vw;
    border-bottom-right-radius: 0.4vw;
    margin: 0.9vh 0.68vw;
  }
  .score {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    font-size: 0.775vw;
    line-height: 4vh;
    padding: 0 1.6vw;
    color: white;
  }
  
  .left-team-vertical {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-left: 1.71vw;
    padding-bottom: 16.05vh;
    gap: 0.45vw;
  }
  
  .right-team-vertical {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding-right: 1.71vw;
    padding-bottom: 16.05vh;
    gap: 0.45vw;
  }
  
  /* Stick */
  .stick {
    height: 2.4vh;
    width: 2px;
    background-color: white;
    flex-shrink: 0;
  }
  
  /* Teams */
  .teams {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
    /* gap: 4vw; */
    /* margin: 0 20px; */
    padding-inline: 1.71vw;
    transition: 1s;
    opacity: 1;
  }
  
  .left-team,
  .right-team {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.45vw;
  }
  .left-team {
    /* margin-left:1.042vw; */
  }
  .right-team {
    /* margin-right:1.042vw; */
  }
  
  /* Rating Table */
  .rating-table {
    margin-left: 1.6vw;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(6.07417px);
    border-radius: 0.5vw;
    padding: 1.29vw;
    width: 23.4vw;
    color: var(--white);
    visibility: visible;
    opacity: 1;
    transition: 1s;
  
    /* position: absolute;
    left:30px;
    top: 0; */
    /* transform: translate(-50%); */
  }
  .rating-table-top {
    font-size: 1.26vw;
  
    display: flex;
    position: relative;
    justify-content: space-between;
    gap: 1.35vw;
    margin-bottom: 1.2vh;
  }
  .rating-table-top::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: -0.8vh;
  }
  
  .rating-table-top-left,
  .rating-table-top-right {
    display: flex;
  }
  .rating-table-top-right {
    width: 100%;
    justify-content: space-between;
  }
  
  .rating-table-center {
    display: flex;
    margin-top: 1.2vh;
    /* gap:40px; */
    gap: 2vw;
    /* font-size: 24px; */
    font-size: 1.25vw;
  }
  .games {
    /* padding-left: 15px; */
    padding-left: 1.6vw;
  }
  .points {
    /* padding-right: 10px; */
    padding-right: 0.2vw;
  }
  
  .rating-row {
    display: flex;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 9.11125px 9.11125px 19.741px rgba(0, 0, 0, 0.2);
    /* border-radius: 7px; */
    border-radius: 0.4vw;
    padding: 4px 7px;
    justify-content: space-between;
    top: 0;
    width: 100%;
    transition: transform 0.5s;
    transition-timing-function: ease-in-out;
    transform: translateY(0);
  }
  .rating-row-team {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 5.4vw;
    white-space: nowrap;
  }
  .rating-row-team-color {
    width: 0.45vw;
    height: 1.25vh;
    background-color: var(--green);
    border-bottom-right-radius: 0.2vw;
    border-top-right-radius: 0.2vw;
    flex-shrink: 0;
    margin-left: 0.5vw;
  }
  .rating-table-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.4vh 0;
    /* gap:17px; */
  
    justify-content: space-between;
  }
  .rating-table-right {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 100%;
    position: relative;
    /* gap: 7px; */
    gap: 0.65vh;
    /* transition: transform 4ss;
    transition-timing-function: ease-in-out;
    transform: translateY(0); */
  }
  
  
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  
  /* player card */
  
  .player-card {
    border-radius: 13.4462px;
    border-radius: 0.7vw;
    
    display: flex;
    flex-direction: column;
    position: relative;
  
    width: 146px;
    width: 7.63vw;
  
    height: 144px;
    height: 13.33vh;
  
    background-color: rgba(50, 50, 50, 0.58);
    overflow: hidden;
  }
  
  .player-card__player-number {
    position: absolute;
    left: 0px;
    top: 0px;
  
    padding-left: 12px;
    padding-left: 0.625vw;
  
    padding-top: 6px;
    padding-top: 0.55vh;
  
    color: var(--white);
    font-weight: 700;
  
    font-size: 15.6926px;
    font-size: 0.817vw;
  }
  
  .player-card__img {
    margin-top: auto;
    margin-inline: auto;
    width: 95%;
    width: 7.44vw;
    height: 12.81vh;
    object-fit: contain;
  }
  
  .player-card__mask-bottom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  .player-card__info {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
  
    gap: 4px;
    gap: 0.38vh;
  
    width: 100%;
  
    padding-inline: 12px;
    padding-inline: 0.62vw;
  
    padding-bottom: 8px;
    padding-bottom: 0.74vh;
  }
  
  .player-card__stats {
    display: flex;
    gap: 13px;
    gap: 0.67vw;
    margin-left: 0.05vw;
  }
  
  .player-card__stats-row-ball-img {
    width: 0.98vw;
    height: 1.74vh;
    
  }
  
  .player-card__stats-row-shoes-img {
    width: 1.15vw;
    height: 1.02vh;
  }
  
  .player-card__sep {
    width: 100%;
    height: 0.19vh;
    background-color: #a8ffa1;
    border-radius: 1px;
    border-radius: 0.05vw;
  }
  
  .player-card__stats-row {
    display: flex;
    gap: 0.28vw;
    align-items: center;
    color: var(--white);
    font-weight: 700;
    font-size: 15.6926px;
    font-size: 0.81vw;
  }
  
  .player-card__name {
    color: var(--white);
    font-weight: 700;
  
    font-size: 13.6002px;
    font-size: 0.67vw;
  
    letter-spacing: 1px;
    letter-spacing: 0.05vw;
    margin-left: 0.05vw;
  }
  
  @keyframes fadeOutBigCardAnimation {
    10% {
      transform: translate(-32vw, -60%);
    }
    90% {
      transform: translate(-32vw, -60%);
    }
    100% {
      transform: translate(300px, -60%)
    }
  }
  
  .goal-names-popup {
    position: absolute;
    z-index: 999;
    // right: -300px;
    right: -511px;
    top: 50%;
    transform: translate(0px, -60%);
    animation: fadeOutBigCardAnimation;
    animation-duration: 5s;
  }
  
  
  
  .player-card-img-wrapper{
    display: flex;
    justify-content: center;
    height: 10vh;
    justify-content: flex-end;
    flex-direction: column;
  }
  
  .player-card-bg{
    box-sizing: border-box;
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    background: url("../../../assets/icon/player_card_june23.svg") no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    background-position: 50%;
    background-size: contain;
    min-height: 51vh;
    width: 20vw; 
  }
  
  .player-card-bottom-bg{
    box-sizing: border-box;
    position: absolute;
    display: flex;
    /*background: url(/static/img/player_card_bottom_default.png) no-repeat;*/
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    background-position: 50%;
    background-size: contain;
    min-height: 380px;
    width: 100%;  
    z-index: -3;
  }
  
  .player-card-photo{
    position: absolute;
    bottom: 35px;
    left: 35px;
    box-sizing: border-box;
    display: flex;
    flex: 0 0 150px;
    width: 224px;
    z-index: 1;
    justify-content: center;
    max-height: 322px;
    object-fit: contain;
  }
  
  .player-card-component .avatar-fade{
    position: absolute;
    width: 84%;
    height: 92%;
    background: linear-gradient(180deg, rgba(247, 244, 237, 0) 54.02%, #F7F4ED 82.96%);
    border-radius: 9.9px;
    top: 10px;
    left: 35px;
    z-index: 4;
  }
  
  .player-card-component .player-main-position{
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 95.4%;
    color: #E2B184;
    right: 38px;
    position: absolute;
    text-align: center;
    top: 18px;
    z-index: 3;
  }
  
  .player-card-component .player-name-text {
    max-width: 12ch;
    overflow: hidden;
    text-overflow: clip;
    color: #E2B184;
    display: inline-block;
  }
  
  .player-card-component .player-name{
    left: 0;
    position: absolute;
    text-align: center;
    bottom: 55px;
    width: 100%;
    z-index: 3;
  
  
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 95.4%;
    color: #E2B184;
  
    text-transform: uppercase;
  
    z-index: 6;
  
  
  
  }
  
  .player-card-wrapper{
    display: flex;
    justify-content: center;
    
  }
  
  .hide-overlay {
    .teams {
      opacity: 0;
    }
    .test {
      opacity: 0;
    }
  }
  
  .goal-names-popup {
    background: #f7f4ed;
    border-radius: 1.041666vw;
    box-shadow: -0.0510417vw 0.204166vw 0.204166vw rgba(48,38,29,.8), -0.204166vw 0.510417vw 0.408332vw rgba(39,39,39,.35), inset 0.102083vw -0.0510417vw 0.204166vw rgba(0,0,0,.2);
    padding: 0.711458vw;
  }
  
  .overlay__big-player-card {
    position: relative;
    border: 0.450417vw solid #edc49f;
    border-radius: 0.911458vw;
    overflow: hidden;
    width: max-content;
  }
  
  .overlay__big-player-card-top {
    background: linear-gradient(180deg,hsla(42,38%,95%,0) 54.02%,#f7f4ed 79.03%);
    background-image: url("../../../assets/icon/background-user-photo.png");
    background-position-x: -0.911458vw;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 30.21875vw;
    width: 21.253125vw;
    background-size: 22.253125vw 30.01875vw;
  }
  
  .overlay__big-player-card-bottom-name {
    text-align: center;
    margin-bottom: 1.184375vw;
    margin-top: -1.915625vw;
    color: #e2b184;
    font-family: "Fira Sans";
    font-size: 2.465vw;
    font-style: normal;
    font-weight: 700;
    max-width: 22.135417vw;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    position: relative;
    z-index: 5;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.03vw;

  }
  
  .overlay__big-player-card-top-position {
    color: #e2b184;
    font-family: "Fira Sans";
    font-weight: 700;
    position: absolute;
    right: 0.78125vw;
    top: 0.371875vw;
    font-size: 1.6vw;
  }
  
  .overlay__big-player-card-user-img {
    object-fit: contain;
    margin: auto auto 0 auto;
    width: 100%;
    padding-bottom: 2.8vw;
  }
  
  .overlay__big-player-card-top-fog {
    background-color: #f7f4ed;
    border-radius: 20px;
    bottom: -3.3vw;
    filter: blur(29px);
    height: 153px;
    left: -13px;
    position: absolute;
    width: 142%;
    height: 9.4vw;
  }
  
  
  
  /* Responsive */
  @media screen and (max-width: 950px) {
    .overlay-wrapper {
      padding-bottom: 5vh;
      padding-top: 5vh;
    }
    .player-card-img {
      height: 3.5vw;
    }
  }
  @media screen and (max-width: 570px) {
    .overlay-wrapper {
      /* padding-bottom: 18px; */
    }
    .teams {
      padding: 0 10px;
    }
    .player-card {
      padding: 0.5vw;
    }
    .player-card-img {
      width: 4.4vw;
    }
  }
  
}

