.same-event-component {
  display: flex;
  flex: 0 0 366px;
  border-radius: 8px;
  background: $whiteColor;
  flex-direction: column;
  box-sizing: border-box;

  &:hover {
    text-decoration: none;
  }
  .el-data-item {
    display: flex;
    background-color: #F3F3F3;
    border-radius: 20px;
    padding: 6px 12px;
    gap: 8px;
  }
  .elem {
    display: flex;
    box-sizing: border-box;

    &.elem-1 {
      flex: 0 0 182px;
      padding-right: 32px;
      padding-left: 32px;
      padding-top: 26px;
      padding-bottom: 24px;
      flex-direction: column;
      gap: 18px;

      .el {
        display: flex;
      }
      .el-1 {
        flex: 0 0 29px;
        justify-content: space-between;
        align-items: center;

        .time {
          display: flex;
          padding: 6px 12px;
          border-radius: 25px;
          background: $lightGrayColor;
          align-items: center;
          column-gap: 10px;
        }

        .star-icon {
          flex: 0 0 20px;
          background-position: center bottom;
        }
      }
    }
    &.elem-2 {
      flex: 0 0 68px;
      border-top: 1px solid #E1E1E1;
      padding-left: 35px;
      padding-right: 30px;
      align-items: center;
      gap: 17px;

      .el {
        height: 18px;
        display: flex;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 1279px) {
  .same-event-component {
    flex: 0 0 343px;
  }
} 

@media screen and (max-width: 743px) , (max-width: $maxScreenHeight) and (max-height: 743px) and (orientation: landscape){
  .same-events-component {
    &>.elem-2 {
      flex-direction: column;
    }
  }
  .same-event-component {
    flex: 0 0 222px !important;
    .elem {
      &.elem-1 {
        flex: 0 0 162px;
        padding: 16px 20px 24px 20px;

        .el-2 {
          font-weight: 600;
          font-size: 16px;
        }
      }
      &.elem-2 {
        flex: 0 0 60px;
        padding-inline: 20px;
      }
    }
  }
}