.time-picker {
    position: relative;
    .react-datepicker-wrapper {
        width: 80%;
        position: absolute;
        height: 100%;
        left: 20%;
        top: 0;
        .react-datepicker__input-container {
            height: 100%;
            .react-datepicker-ignore-onclickoutside {
                width: 100%;
            }
            input {
                height: 100%;
            }
        }
    }
}