.profile-personal-data-component {
  display: flex;
  flex-direction: column;
  background: $whiteColor;

  &.loader {
    position: relative;
    height: 800px;
  }
  .bottom-bar-376 {
    display: none;
  }
  .top-bar {
    display: flex;
    flex: 0 0 72px;
    padding: 16px 40px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;

    .elem-1-1280 {
      flex: 0 0 190px;
      font-size: 14px;
      padding: 10px 20px;
    }
    .elem-1-744 {
      display: none;
    }
    .elem-2 {
      display: flex;
      gap: 13px;
      white-space: nowrap;
      flex: 0 0 155px;

      &:hover {
        cursor: pointer;
      }
      .black-eye-icon {
        display: flex;
        flex: 0 0 22px;
        background-size: 22px;
      }
      .el-1 {
        display: flex;
        white-space: nowrap;
      }
    }
  }
  
  .fields-form {
    display: flex;
    padding: 24px 75px 32px 40px;
    box-sizing: border-box;
    gap: 8px 32px;
    flex-wrap: wrap;

    .elem {
      flex: 0 0 280px;
      &.elem-1 {
        .avatar-icon {
          cursor: auto;
        }
      }
      &.elem-2 {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        .input-message {
          flex: 0 0 12px;
          margin-top: 4px;
          font-size: 10px;
          &.error {
            color: #EC5B56;
          }
        }
        .date input {
          background: url("../../../assets/icon/calendar3.png") no-repeat;
          background-size: 14px 12px;
          background-position: 16px center;
        }
      }
      &.elem-6 {
        .map-point-icon {
          width: 16px;
          background-size: 16px;
        }
      }
      &.elem-8-1280 {
        display: flex;
        gap: 8px;
        align-items: stretch;
        height: 17px;
      }
      &.elem-8-744 {
        display: none;
      }
      &.elem-9 {
        display: flex;
        gap: 8px;
        align-items: stretch;
        height: 17px;
        margin-bottom: 16px;
        &.hidden {
          display: none;
        }
      }
      &.elem-10 {
        &.hidden {
          display: none;
        }
      }
      &.elem-11 {
        flex: 0 1 592px;
        height: 99px;
        padding-left: 44px;
        font-size: 14px;

        &.map-point-icon {
          background-position: 18px 16px;
        }
      }
    }
  }

  .change-password {
    display: flex;
    flex: 0 0 89px;
    box-sizing: border-box;
    padding-left: 48px;
    gap: 14px;
    align-items: center;

    .orange-lock-icon {
      display: flex;
      flex: 0 0 12px;
      align-self: stretch;
    }
  }
}

@media screen and (min-width: 744px) and (max-width: 1279px){
  .profile-personal-data-component {
    .top-bar {
      padding: 16px 20px;

      .elem-1-744 {
        display: flex;
        flex: 0 0 110px;
        font-size: 14px;
        padding: 10px 20px;
      }
      .elem-1-1280 {
        display: none;
      }
    }
    .photo-bar {
      padding: 24px 20px;
    }
    .fields-form {
      padding: 24px 20px;
      gap: 0 300px;

      .elem {
        flex: 0 0 336px;

        &.elem-8-744 {
          display: flex;
          gap: 8px;
          align-items: stretch;
          height: 17px;
          margin-bottom: 16px;
        }
        &.elem-8-1280 {
          display: none;
        }
        &.elem-9 {
          margin-bottom: 20px;
        }
        &.elem-11 {
          flex: 0 0 336px;
        }
      }
    }
    .change-password {
      padding: 24px 20px;
      align-items: start;
      flex: 0 0 115px;

      .orange-lock-icon {
        align-self: start;
        height: 16px;
      }
    }
  }
}

@media screen and (max-width: 743px) , (max-width: $maxScreenHeight) and (max-height: 743px) and (orientation: landscape){
  .profile-personal-data-component {
    &.loader {
      flex: 1 1 auto;
      height: 100%;
    }
    .top-bar {
      display: none;
    }
    .photo-bar {
      padding: 20px 0px;
      flex: unset;
    }
    .fields-form {
      padding: 16px 0px;
      gap: 0 500px;
      padding-bottom: 0px;

      .elem {
        flex: 1 1 auto;

        &.elem-8-744 {
          display: flex;
          gap: 8px;
          align-items: stretch;
          height: 17px;
          margin-bottom: 16px;
        }
        &.elem-8-1280 {
          display: none;
        }
        &.elem-9 {
          margin-bottom: 20px;
        }
        &.elem-11 {
          flex: 1 1 auto;
        }
      }
    }
    .change-password {
      padding: 15px 0px;
      align-items: start;
      flex: unset;
      .orange-lock-icon {
        align-self: start;
        height: 16px;
      }
    }
    .bottom-bar-376 {
      display: flex;
      flex: 0 0 56px;
      padding: 8px 0px;
      box-sizing: border-box;
      align-items: stretch;
      justify-content: space-between;

      .elem-1 {
        flex: unset;
        width: 100%;
        font-size: 14px;
        padding: 13.5px 20px;
      }
      .black-eye-icon {
        display: flex;
        flex: 0 0 22px;
        background-size: 22px;
      }
    }
  }
}