.main-page-component {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: stretch;
  gap: 24px;

  .best-players-1280 {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .title-component {
    margin-bottom: 8px;
    margin-top: 16px;
  }
}

@media screen and (min-width: 744px) and (max-width: 1279px){
  .main-page-component {
    .title-component {
      margin-top: 4px;
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 743px) , (max-width: $maxScreenHeight) and (max-height: 743px) and (orientation: landscape){
  .main-page-component {
    gap: 16px;
    padding: 16px 0;

    .best-players-1280 {
      display: none;
    }
    .title-component {
      display: none;
    }
  }
}