.line-date__time-picker {
    position: relative;
    .disabled {
        background-color: lightgray;
        color: gray;
        pointer-events: none;
    }
    .react-datepicker {
        width: 278px;
    }
    p {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: #949494;
        padding: 0px 5px 3px 5px;
        border-bottom: 1px solid rgba(148, 148, 148, 0.5);
    }
}

.react-datepicker {
    font-family: "Raleway", sans-serif !important;
}

.react-datepicker-wrapper {
    position: absolute;
    top: 15px;
    opacity: 0;
    width: inherit;
    overflow: hidden;
}

.line-date__time-picker--error {
    color: #ec5b56 !important;
    border-bottom: 1px solid #ec5b56 !important;
}

.react-datepicker__day--selected {
    background-color: #d19c6c !important;
    &:hover {
        background-color: #d19c6c !important;
    }
}

.react-datepicker__time-list-item--selected {
    background-color: #d19c6c !important;
    &:hover {
        background-color: #d19c6c !important;
    }
}

.react-datepicker__time-list {
    &::-webkit-scrollbar {
        width: 10px;
      }
      &::-webkit-scrollbar-track {
        border: 1px solid transparent;
        background-clip: content-box;
        background: #E9E9E9;
      }
      &::-webkit-scrollbar-thumb {
        background: #ABABAB;
        border-radius: 4px;
      }
}

.react-datepicker-time__header {
    font-size: 14px;
}