.edit-event-component {
  width: auto !important;
  height: 772px;
  flex: unset;
  border-radius: 10px;
  .elem-1 {
    margin-inline: auto;
  }
  .elem-2, .elem-3 {
    width: 260px;
  }
  .elem-5 {
    width: unset;
  }

  .elem-select-time {
    width: 117px;
  }

  .elem-7 {
    width: 245px;
  }

  .elem-10 {
    width: 275px;
  }

  .elem-11 {
    
  }
  .dropdown-component .dropdown .dropdown-label {
    white-space: nowrap;
    overflow: hidden;
  }
  .line-date__time-picker .react-datepicker {
    width: 327px;
  }
}

@media screen and (min-width: 744px) and (max-width: 1279px){

}

@media screen and (max-width: 743px) , (max-width: $maxScreenHeight) and (max-height: 743px) and (orientation: landscape){
  .edit-event-component {
    width: 100%;
    height: 100%;
    .elem-2 {
      margin-bottom: 0px;
    }
    .elem-select-time {
      width: 144px;
    }
    &.form-event-component {
      padding: 24px calc(50% - 158px) 20px calc(50% - 148px);
      .elem {
        width: 296px;
      }
    }
    .elem.elem-1 {
      align-self: stretch;
    }
  }
}