.edit-event-component {
  flex: 0 0 411px;
  height: 702px;
  border-radius: 10px;
  .elem.elem-1 {
    align-self: stretch;
    width: auto;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 744px) and (max-width: 1279px){
  .edit-event-component {
    height: 772px;

    &.form-event-component {
      padding: 40px 30px 40px 40px;
      .elem {
        width: calc(411px - 80px);
      }
    }
  }
}

@media screen and (max-width: 743px) , (max-width: $maxScreenHeight) and (max-height: 743px) and (orientation: landscape){
  .edit-event-component {
    flex: 0 0 100%;
    height: 100%;
    border-radius: 0;

    &.form-event-component {
      padding: 24px calc(50% - 158px) 20px calc(50% - 148px);
      .elem {
        width: 296px;
      }
    }
    .elem.elem-1 {
      align-self: stretch;
    }
  }
}