.rank-chart-component {
  display: flex;
  align-self: stretch;
  align-items: center;
  position: relative;

  .recharts-tooltip-wrapper {
    top: -60px !important;
  }
  .custom-chart-tooltip {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid $lightGrayColor;
    background: $whiteColor;
  }
  .rank-744 {
    display: flex;
    position: absolute;
    top: 13px;
    left: 0;
  }
}

@media screen and (min-width: 1280px){
  .rank-chart-component {
    .rank-744 {
      display: none;
    }
  }
}

