.confirm-players-component {
  &.reglament-component {
    flex: 0 0 540px;
    height: 728px;
  }
}

.confirm-players-component .elem {
  display: flex;

  &.elem-1 {
    flex: 0 0 26px;
    flex-direction: column;
    padding: 0;
    margin-top: 28px;
    align-items: center;
    align-self: stretch;

    .btn-close {
      margin-top: -24px;
      align-self: end;
      margin-right: 28px;
    }
  }

  &.elem-4 {
    align-self: stretch;
    justify-content: space-between;
    padding: 0 24px;
    flex: 0 0 36px;
    align-items: end;

    .search-field {
      margin-top: 19px;
      flex: 0 0 288px;
    }
  }

  &.elem-5 {
    align-self: stretch;
    padding: 0 8px 0 24px;
    flex-wrap: wrap;
    margin: 20px 8px 28px 0;
    gap: 4px 12px;
    justify-content: start;
    max-height: 492px;
    box-sizing: border-box;

    .el {
      display: flex;
      flex: 0 0 240px;
      align-items: center;
      cursor: pointer;
      gap: 12px;
      height: 50px;
      box-sizing: border-box;
      width: 240px;

      .player-select-icon {
        flex: 0 0 20px;
        height: 20px;
      }
      .avatar {
        flex: 0 0 32px;
        height: 40px;
      }
      .player-avatar-icon {
        flex: 0 0 32px;
        height: 42px;
        margin-left: 20px;
        margin-right: 14px;
        background-size: 32px 42px;
      }
      .username {
        word-break: break-all;
      }
    }
  }

  &.elem-fake {
    flex: 1 1 auto;
  }

  &.elem-6 {
    flex: 0 0 $fieldHeight;
    width: 280px;
    margin-bottom: 24px;

    &.safari-margin {
      margin-bottom: 70px;
    }
  }
}

@media screen and (max-width: 743px) , (max-width: $maxScreenHeight) and (max-height: 743px) and (orientation: landscape){
  .confirm-players-component {
    &.reglament-component {
      flex: 0 0 100%;
      height: 100%;
    }
  }

  .confirm-players-component .elem {
    &.elem-4 {
      justify-content: start;
      padding: 0 16px;
      flex: 0 0 99px;
      align-items: start;
      flex-direction: column;
      gap: 22px;

      .search-field {
        margin-top: 17px;
        flex: 0 0 36px;
        align-self: stretch;
      }
    }
    &.elem-5 {
      align-self: stretch;
      padding: 0 8px 0 16px;
      flex-wrap: wrap;
      margin: 16px 8px 28px 0;
      gap: 4px 12px;
      justify-content: space-between;
      max-height: none;
      box-sizing: border-box;

      .el {
        flex: 0 0 calc(50% - 24px);
        width: 165.5px;
      }
    }
    &.elem-6 {
      flex: 0 0 $fieldHeight;
      width: auto;
      align-self: stretch;
      margin: 26px 16px;

      &.safari-margin {
        margin-bottom: 70px;
      }
    }
  }
}
