.location-component {
  display: flex;
  position: relative;
  align-items: stretch;
  white-space: nowrap;
  flex: 0 0 27px;
  gap: 16px;

  .elem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 24px;
    border-radius: 25px;
    cursor: pointer;
    gap: 12px;
    box-sizing: border-box;

    .icon {
      display: flex;
      flex: 0 0 8px;
      align-self: stretch;
    }

    &.country {
      background: #949494;
    }
    &.city {
      background: #EBEBEB;
    }
  }

  .confirm-city {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: end;
    align-items: stretch;
    height: 128px;
    width: 261px;
    top: 36px;
    left: 80px;

    &.open {
      display: flex;
    }

    .corner {
      position: absolute;
      width: 24px;
      height: 24px;
      left: 48px;
      top: 0px;

      background: #FFFFFF;
      transform: rotate(45deg);
    }

    .confirm-city-frame {
      display: flex;
      flex-direction: column;
      flex: 0 0 118px;
      background: $whiteColor;
      box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.15);
      border-radius: 8px;

      .elem-1 {
        display: flex;
        flex: 0 0 46px;
        justify-content: space-between;

        .black-600-18 {
          align-self: end;
          margin-left: 24px;
        }

        .btn-close {
          align-self: start;
          margin-top: 16px;
          margin-right: 16px;
        }
      }

      .elem-2 {
        display: flex;
        flex: 1 1 auto;
        margin-top: 24px;

        .btn {
          margin-left: 24px;
          margin-right: 8px;
          flex: 0 0 64px;
          height: 24px;
          border-radius: 50px;

        }

        .btn-second {
          flex: 0 0 141px;
          height: 24px;
          margin-right: 24px;
          border-radius: 50px;
        }
      }
    }
  }
  .search-city {
    position: absolute;
    width: 256px;
    max-height: 417px;
    top: 44px;
    left: 110px;
    z-index: 99999;
  }
}

@media screen and (max-width: 743px) , (max-width: $maxScreenHeight) and (max-height: 743px) and (orientation: landscape){
  .location-component {
    margin: 0 20px;
  }
}