.main-wrapper-component {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

@media screen and (max-width: 743px) , (max-width: $maxScreenHeight) and (max-height: 743px) and (orientation: landscape){
  .main-wrapper-component {
    min-height: calc(100% - 71px);
    padding-bottom: 71px;
  }
}