.main-wrapper-component {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

@media screen and (min-width: 375px) and (max-width: 743px) {
  .main-wrapper-component {
    min-height: calc(100vh - 71px);
    //height: calc(100vh - 71px);
    padding-bottom: 71px;
  }
}