.update-password-component {
  display: flex;
  width: 410px;
  height: 336px;
  flex-direction: column;
  align-items: stretch;
  padding: 28px 40px 50px 40px;
  box-sizing: border-box;

  .elem-376 {
    display: none;
  }
  .elem {
    display: flex;
    justify-content: stretch;

    &.elem-1 {
      justify-content: space-between;
      flex: 0 0 26px;
      margin-bottom: 32px;
    }
    &.elem-3 {
      flex: 0 0 56px;
      gap: 10px;
      margin-top: 16px;

      .btn {
        flex: 1 1 auto;
      }
      .btn-second {
        flex: 1 1 auto;
      }
    }
  }
}

@media screen and (max-width: 743px) , (min-height: 375px) and (max-height: 743px) and (orientation: landscape){
  .update-password-component {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    position: relative;

    .btn-close {
      display: flex;
      flex: 0 0 16px;
      background-position: right center;
      width: calc(100% - 80px);
      position: absolute;
      top: 28px;
    }

    .elem {
      &.elem-1 {
        justify-content: center;
        margin-bottom: 24px;
        .btn-close {
          display: none;
        }
      }
      &.elem-3 {
        margin-top: 4px;
      }
    }
  }
}