.user-component {
  display: flex;
  gap: 34px;
  align-items: stretch;

  .dropdown-user {
    display: flex;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    justify-content: stretch;

    .dropdown-head {
      display: flex;
      align-items: center;
      gap: 17px;
      box-sizing: border-box;

      .dropdown-icon {
        flex: 0 0 28px;
        height: 38px;
      }
      .dropdown-label {
      }
      .arrow-icon {
        flex: 0 0 24px;
        width: 24px;
        align-self: stretch;
        background-position: center;
      }
    }

    .dropdown-menu {
      display: none;
      flex-direction: column;
      flex: 1 1 auto;
      width: 260px;
      align-items: stretch;
      border-radius: 0;
      border: none;
      background: rgb(255, 255, 255);
      position: absolute;
      right: -25px;
      top: 67px;
      z-index: 5;

      .dropdown-elem {
        display: flex;
        flex: 0 0 60px;
        border: 1px solid $lightGrayColor;
        border-radius: 0;
        padding-left: 40px;
        align-items: center;

        &.d-el-4 {
          flex-direction: column;
          justify-content: center;
          align-items: start;

          .label {
            font-size: 12px;
            color: $grayColor;
          }
          .city {
            font-weight: 600;
          }
        }
        &:hover {
          background: #F8F8F8;
          text-decoration: none;
        }
      }
      &.open {
        display: flex !important;
      }
    }
  }
}

@media screen and (min-width: 744px) and (max-width: 1279px){
  .user-component {
    box-sizing: border-box;
    gap: 23px;

    .dropdown-user {
      .dropdown-head {
        .dropdown-label {
          display: none;
        }
        .arrow-icon {
          display: none;
        }
      }
      .dropdown-menu {
        right: 0;
      }
    }
  }
}