.photo-bar {
    display: flex;
    flex: 0 0 150px;
    padding: 24px 40px;
    box-sizing: border-box;
    gap: 14px;
    flex-direction: column;
    user-select: none;
    #input__photo {
        display: none;
    }
    .upload-photo {
        display: flex;
        background: $lightGrayColor;
        border-radius: 8px;
        flex: 0 0 72px;
        width: 280px;
        padding: 7px 24px;
        box-sizing: border-box;
        align-items: center;
        gap: 23px;
        cursor: pointer;
        .no-photo-icon {
            align-self: center;
            width: 40px;
            height: 40px;
        }
        img {
            object-fit: contain;
        }
    }
    
    &.on-moderation {
        .upload-photo {
            padding: 7px 24px;
        }
        .upload-photo-image {
            max-height: 54px;
            margin-right: -2px;
            filter: grayscale(0.7);
        }
        .upload-photo-text {
        }
    }
    &.moderation-failed {
        .upload-photo {
            position: relative;
        }
        .upload-photo-image {
            max-height: 54px;
            margin-right: -2px;
            filter: grayscale(0.7);
        }
    }
}

.upload-photo:hover .upload-photo-text .orange-400-14 {
    text-decoration: underline;
}

.moderation-failed {
    .upload-photo {
        cursor: unset;
    }
    .upload-photo:hover .upload-photo-text .orange-400-14 {
        text-decoration: none !important;
    }
}

.photo-bar-moderation-tip {
    position: absolute;
    top: 10px;
    right: 14px;
    cursor: pointer;
    &:hover + .photo-bar-moderation-tip-content {
        display: block;
    }
}

.photo-bar-moderation-tip-content {
    display: none;
    font-family: 'Raleway';
    font-style: normal;
    padding: 12px;
    background: #fff3f2;
    border-radius: 8px;
    max-width: 300px;
    width: max-content;
    position: absolute;
    left: 300px;
    top: -38px;
    line-height: 130%;
}

.photo-bar-moderation-tip-content-mobile {
    position: static;
    display: none;
}

.upload-photo-image {
    display: flex;
}

.upload-photo-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    flex: 1 1 auto;
    .orange-400-14 {
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}

.photo-bar-user-photo-wrapper {
    display: flex;
    background: $lightGrayColor;
    border-radius: 8px;
    padding: 16px 18px;
    width: max-content;
    box-sizing: border-box;
    align-items: center;
    gap: 23px;
    padding-right: 33px;
}

.photo-bar-user-photo {
    border: 3px solid #edc49f;
    box-shadow: -0.186396px 0.745586px 0.745586px rgba(48, 38, 29, 0.8),
        -0.745586px 1.86396px 1.49117px rgba(39, 39, 39, 0.35),
        inset 0.372793px -0.186396px 0.745586px rgba(0, 0, 0, 0.2);
    border-radius: 3.72793px;
    height: 80px;
    width: 64px;
    display: flex;
    img {
        margin-top: auto;
        max-width: 64px;
        max-height: 80px;
        border-radius: 2px;
        object-fit: contain;
        padding-top: 5px;
        box-sizing: border-box;
    }
}

.photo-bar-user-photo-text {
    font-family: 'Raleway';
    font-style: normal;
}

@media screen and (min-width: 744px) and (max-width: 1279px){
    .photo-bar-moderation-tip-content-mobile {
        display: block;
    }
    .photo-bar.moderation-failed .upload-photo {
        .photo-bar-moderation-tip-content {
            display: none !important;
        }
    }
}

@media screen and (max-width: 743px) , (max-width: $maxScreenHeight) and (max-height: 743px) and (orientation: landscape){
    .photo-bar-moderation-tip-content-mobile {
        display: block;
    }
    .photo-bar-moderation-tip-content {
        max-width: 100%;
    }
    .photo-bar.moderation-failed .upload-photo {
        
        .photo-bar-moderation-tip-content {
            display: none !important;
            max-width: 100%;
        }
        .upload-photo-text {
            .orange-400-14 {
                width: max-content;
            }
        }
    }
    .photo-bar .upload-photo {
        width: 100%;
        .gray-400-14 {
            br {
                display: none;
            }
        }
    }
    .photo-bar-user-photo-wrapper {
        width: 100%;
    }
}
