.message-component {
  display: flex;
  gap: 20px;
  padding-right: 180px;
  box-sizing: border-box;

  &.right {
    justify-content: end;
    padding-right: 0;
    padding-left: 180px;
  }

  .elem-1 {
    display: flex;
    flex: 0 0 40px;
    background-size: 40px 57px;

    &.hidden {
      display: none;
    }
  }

  .elem-2 {
    display: flex;
    flex-direction: column;
    max-width: 80%;

    .el-1 {
      display: flex;
      align-items: center;
      margin-block: 8px;
      flex: 0 0 19px;
    }
    .el-2 {
      display: flex;
      background: #F8F8F8;
      border-radius: 8px;
      box-sizing: border-box;
      padding: 6px 8px;
      flex-direction: column;
      max-width: 100%;
      word-wrap: break-word;
      width: max-content;
    }
    .el-3 {
      margin-top: 3px;
      flex: 0 0 19px;
      padding-inline: 8px;
    }
    &.right {
      align-items: end;
      .event-chat__message-user-photo {
        flex-direction: row-reverse;
      }

      .el-2 {
        justify-content: end;
        text-align: right;
      }
    }
  }

  .elem-3 {
    display: flex;
    flex: 0 0 40px;
    background-size: 40px 57px;

    &.hidden {
      display: none;
    }
  }
}

.event-chat__message-user-photo {
  display: flex;
  gap: 12px;
  margin-bottom: 8px;
}

@media screen and (min-width: 744px) and (max-width: 1279px){
  .message-component {
    padding-right: 0;

    &.right {
      padding-left: 0;
    }
  }
}

@media screen and (max-width: 743px) , (max-width: $maxScreenHeight) and (max-height: 743px) and (orientation: landscape){
  .message-component {
    padding-right: 0;
    .event-chat__message-user-photo {
      .el-1 {
        font-weight: 500;
        font-size: 13px;
        margin: 0px;
      }
    }
    .elem-2 {
      .el-2 {
        font-size: 12px;
      }
    }
    .event-chat__message-user-photo-content {
      display: none;
    }
    &.right {
      padding-left: 0;
    }
  }
}
