.message-component {
  display: flex;
  gap: 20px;
  padding-right: 180px;
  box-sizing: border-box;

  &.right {
    justify-content: end;
    padding-right: 0;
    padding-left: 180px;
  }

  .elem-1 {
    display: flex;
    flex: 0 0 40px;
    background-size: 40px 57px;

    &.hidden {
      display: none;
    }
  }

  .elem-2 {
    display: flex;
    flex-direction: column;
    max-width: 80%;

    .el-1 {
      margin-block: 22px;
      flex: 0 0 19px;
    }
    .el-2 {
      display: flex;
      background: #F8F8F8;
      border-radius: 15px;
      box-sizing: border-box;
      padding-left: 24px;
      padding-right: 24px;
      padding-top: 19px;
      padding-bottom: 19px;
      flex-direction: column;
      max-width: 80%;
      word-wrap: break-word;
    }
    .el-3 {
      margin-top: 3px;
      flex: 0 0 19px;
      align-self: end;
    }
    &.right {
      align-items: end;

      .el-2 {
        justify-content: end;
        text-align: right;
      }
    }
  }

  .elem-3 {
    display: flex;
    flex: 0 0 40px;
    background-size: 40px 57px;

    &.hidden {
      display: none;
    }
  }
}

@media screen and (min-width: 744px) and (max-width: 1279px){
  .message-component {
    padding-right: 0;

    &.right {
      padding-left: 0;
    }
  }
}

@media screen and (max-width: 743px) , (max-width: $maxScreenHeight) and (max-height: 743px) and (orientation: landscape){
  .message-component {
    padding-right: 0;

    &.right {
      padding-left: 0;
    }
  }
}
