.dropdown-component {
  display: flex;
  flex-direction: column;
  height: $dropDownLabelHeight + 16px;
  width: auto;


  .dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 0 0 $dropDownLabelHeight;
    box-sizing: border-box;
    background-position: left 14px center;

    .left-icon {
      position: absolute;
      left: $dropDownLeftIconLeft;
      top: $dropDownLeftIconTop;
    }

    .dropdown-label {
      display: flex;
      flex: 0 0 $dropDownLabelHeight;
      align-items: center;
      border: 0.8px solid #949494;
      border-radius: 8px;
      cursor: pointer;
      box-sizing: border-box;
      background-position: right 10px center;
      padding-left: 44px;

      &.error {
        border: 0.8px solid #EC5B56;
      }
    }

    .dropdown-menu {
      display: none;
      flex-direction: column;
      flex: 1 1 auto;
      max-height: $dropDownMenuHeight;
      //opacity: 0;
      border: 1px solid gray;
      border-radius: 8px;
      transition: all 100ms ease;
      background: rgb(255, 255, 255);
      z-index: 999999;
      overflow: auto;

      &.open {
        //opacity: 1;
        display: flex !important;
      }

      .dropdown-elem {
        display: flex;
        align-items: center;
        flex: 0 0 $dropDownElemHeight;
        padding-left: 16px;
        padding-right: 16px;
        cursor: pointer;

        &:hover {
          background: #F8F8F8;
          border-radius: 8px;
        }
      }

      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-track {
        border: 1px solid transparent;
        background-clip: content-box;
        border-radius: 2px;
      }
      &::-webkit-scrollbar-thumb {
        background: rgba(35, 32, 33, 0.12);
        border-radius: 2px;
      }
    }
  }

  .input-message {
    flex: 0 0 12px;
    margin-top: 4px;
    font-size: 10px;
    &.error {
      color: #EC5B56;
    }
  }
}


.dropdown-size {
  &.dropdown-component {
    height: $dropDownLabelHeight + 16px;
    width: auto;

    .dropdown {;
      flex: 0 0 $dropDownLabelHeight;
      background-position: left 14px center;

      .left-icon {
        left: $dropDownLeftIconLeft;
        top: $dropDownLeftIconTop;
      }

      .dropdown-label {
        flex: 0 0 $dropDownLabelHeight;
        border-radius: 8px;
        background-position: right 10px center;
        padding-left: 44px;
      }

      .dropdown-menu {
        //flex: 0 1 $dropDownMenuHeight;

        .dropdown-elem {
          flex: 0 0 $dropDownElemHeight;
          padding-left: 16px;
          padding-right: 16px;
        }
      }
    }
  }
}