.event-about-place {
    display: none;
    position: relative;
    margin-left: -17px;
    margin-right: -16px;
    overflow: hidden;
    .event-info-slider {
        width: 100%;
        height: 198px;
        img {
            border-radius: 0px;
        }
    }
}

.event-about-place__top {
    display: flex;
    width: 100%;
    padding-right: 32px;
    box-sizing: border-box;
    position: absolute;
    z-index: 3;
    top: 13px;
    left: 10px;
    align-items: center;
}

.event-about-place__top-mask {
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    opacity: 0.75;
    background: linear-gradient(180deg, #1C1C1C 8.85%, rgba(0, 0, 0, 0.00) 26.04%);
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.event-about-place__top-address {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
}

.event-about-place__top-icons {
    display: flex;
    gap: 24px;
    margin-left: auto;
}

.event-about-place__no-slots {
    position: absolute;
    z-index: 2;
    padding-inline: 8px;
    border-radius: 20px;
    bottom: 8px;
    right: 20px;
    display: flex;
    align-items: center;
    font-family: 'Raleway';
    color: #1b1b1b;
    background-color: rgba(209, 156, 108, 0.90);
}

.event-about-place__no-slots-icon-text {
    margin-right: 4px;
    font-size: 16px;
    font-weight: 600;
}

.event-about-place__no-slots-text {
    font-size: 10px;
}

.event-about-place__top-address-copy {
    position: absolute;
    animation: eventAboutPlaceSlideAndFadeOut 1.7s forwards;
}

@keyframes eventAboutPlaceSlideAndFadeOut {
    0% {
      transform: translateY(0px);
      opacity: 0.7;
    }
    50% {
        transform: translateY(-14px);
        opacity: 1;
    }
    100% {
        transform: translate(5000px, -14px);
    }
  }

@media screen and (max-width: 743px) , (max-width: $maxScreenHeight) and (max-height: 743px) and (orientation: landscape) {
    .event-about-place {
        display: block;
    }
}