.event-info {
    padding: 42px;
    background: #FFFFFF;
    border-radius: 8px;
    font-family: "Raleway";
    font-style: normal;
}

.event-info {
    display: flex;
    justify-content: space-between;
}

.event-info-field-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #1B1B1B;
}

.event-info-field-assets-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 11px;
    margin-top: 20px;
    max-width: 340px;
}

.event-info-field-assets-item {
    display: flex;
    align-items: center;
    gap: 8px;
    
}

.event-info-field-assets-item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #1B1B1B;
}

.event-info-item-strikethrough {
    img {
        opacity: 0.8;
    }
    div {
        color: #949494;
        text-decoration: line-through;
    }
}

.event-info-map {
    margin-top: 54px;
    .leaflet-container {
        width: 401px;
        height: 159px;
        margin-top: 13px;
        border-radius: 8px; 
        border: 1px solid #949494; 
        pointer-events: none;
    }
    .leaflet-marker-icon {
        pointer-events: none !important;
    }
    .leaflet-tile-pane {
        filter: grayscale(0.9);
    }
    .leaflet-control-container {
        display: none;
    }
}

.event-info-map-address-wrapper {
    position: relative;
    display: flex;
}

@keyframes slideAndFadeOut {
    0% {
      transform: translateY(0px);
      opacity: 0.7;
    }
    50% {
        transform: translateY(-22px);
        opacity: 1;
    }
    100% {
        transform: translate(5000px, -22px);
    }
  }

.event-info-address-tooltip {
    position: absolute;
    top: 0px;
    left: 22%;
    color: gray;
    font-size: 13px;
    animation: slideAndFadeOut 1.7s forwards;
}

.event-info-map-address {
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: #1B1B1B;
    img {
        cursor: pointer;
        margin-left: 12px;
        margin-bottom: -6px;
        &:hover {
            opacity: 0.7;
        }
    }
}

.event-info-max-1279 {
    display: none;
}

@media only screen and (max-width: 1279px) {
    .event-info-min-1279 {
        display: none;
    }

    .event-info-max-1279 {
        display: block;
    }
    
    .event-info {
        padding: 20px;
    }

    .event-info-row {
        width: 100%;
    }

    .event-info-map {
        margin-top: 24px;
        display: flex;
        gap: 10px;
        .event-info-slider {
            height: 187px;
            width: 50%;
        }
    }  

    .event-info-map-inner {
        width: 100%;
    }

    .event-info-map .leaflet-container {
        width: 100%;
    }

    .event-info-field-assets-list {
        max-width: 550px;
    }
}

@media screen and (max-width: 743px) , (max-width: $maxScreenHeight) and (max-height: 743px) and (orientation: landscape) {
    .event-info {
        padding: 10px 12px;
        .event-info-map {
            display: none;
        }
    }
    .event-info-field-title {
        font-family: 'Fira Sans';
        font-size: 16px;
        font-weight: 600;
    }

    .event-info-field-assets-list {
        margin-top: 16px;
    }

    .event-info-map {
        flex-direction: column;
    }

    .event-info-slider {
        order: 0;
    }

    .event-info-map-inner {
        margin-top: 25px;
        order: 1;
    }
    
    .event-info-map .event-info-slider {
        width: 100%;
    }
}