.create-event-376 {
  display: none;
}

.create-event {
  width: $createEventWidth;
  height: $createEventHeight;


  .popup-left {
    display: flex;
    flex: 0 0 $createEventLeftWidth;
    flex-direction: column;
    align-items: center;
  }

  .popup-right {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: stretch;
  }

  .create-event-img {
    background: url(../../icon/signUpImg2.png) no-repeat;
  }
}

.btn-create-event {
  flex: 1 1 auto;
  height: $fieldHeight;
}

.popup-left {
  .elem {
    display: flex;
    flex: 0 0 $fieldHeight;
    width: $createEventFieldWidth;
    align-items: stretch;
    justify-content: stretch;

    &.elem-1 {
      margin-top: 40px;
      margin-bottom: 32px;
      justify-content: center;
      flex: 0 0 26px;
      flex-direction: column;

      .btn-close {
        display: none;
      }
      span {
        font-weight: 600;
        font-size: 22px;
      }
    }

    &.elem-2 {
    }

    &.elem-3 {
      justify-content: start;
      flex-direction: column;

      input {
        padding-left: 48px;
        padding-right: 20px;
        background: url("../../icon/calendar2.png") no-repeat;
        background-size: 20px;
        background-position: 16px center;
      }
    }

    &.elem-4 {
      justify-content: start;
      flex-direction: column;

      input {
        padding-left: 48px;
        padding-right: 20px;
        background: url("../../icon/gray-clock.png") no-repeat;
        background-size: 20px;
        background-position: 16px center;
      }
    }

    &.elem-6 {
      flex: 0 0 19px;
    }

    &.elem-7 {
      flex-direction: column;
      margin-top: 8px;

      .foot-icon {
        background-position: 16px center;
      }

      .dropdown-label {
        padding-left: 48px;
        background-position: 292px center;
      }
    }

    &.elem-8 {
      flex: 0 0 24px;
      margin-top: 4px;
      margin-bottom: 24px;
      align-items: center;

      .slider-uncheck-icon {
        flex: 0 0 40px;
      }

      .slider-check-icon {
        flex: 0 0 40px;
      }

      span {
        margin-left: 16px;
      }
    }

    &.elem-9 {
      flex: 1 1 auto;
      flex-direction: column;
      textarea {
        box-sizing: border-box;
        flex: 1 0 69px;
      }
    }

    &.elem-10 {
      margin-top: 4px;
      margin-bottom: 40px;

      &.safari-margin {
        margin-bottom: 70px;
      }
    }

    .input-message {
      flex: 0 0 12px;
      margin-top: 4px;
      font-size: 10px;
      &.error {
        color: #EC5B56;
      }
    }

    input {
      box-sizing: border-box;
    }
  }

  .dropdown-size {
    display: flex;
    flex: 0 0 $fieldHeight;
    width: $createEventFieldWidth !important;
    align-items: stretch;
    justify-content: stretch;
  }
}

.popup-right {
  .elem-1 {
    display: flex;
    flex: 0 0 24px;
    margin-top: 24px;
    justify-content: end;
    .btn-close {
      margin-right: 24px;
    }
  }

  .elem-2 {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin-top: 44px;
    width: $createEventRightPointWidth;
    align-items: stretch;

    .point {
      display: flex;
      padding-left: 24px;
      margin-left: 24px;
      margin-bottom: 5px;
      background-position: 0 6px;
    }
  }

  .elem-3 {
    display: flex;
    flex: 0 0 38px;
    margin-top: 44px;
    margin-bottom: 32px;
    margin-left: 61px;
    width: $createEventRightPointWidth;
  }

  .elem-4 {
    display: flex;
    width: $createEventRightPointWidth;
    margin-left: 61px;

    .btn-login {
      flex: 1 1 auto;
    }
  }
}

.input-icon {
  padding-left: 48px;
  padding-right: 20px;
  background-position: 16px center;
}

.event-inactive {
  flex: 1 1 auto !important;
  background: url("../../icon/event-inactive.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 744px) and (max-width: 1279px){
  .popup-left .elem {

    &.elem-1 {
      margin-top: 28px;
      margin-bottom: 22px;
    }

    &.elem-10 {
      margin-bottom: 30px;
    }
  }

  .popup-right {
    .elem-3 {
      margin-left: 30px;

    }

    .elem-4 {
      margin-left: 30px;
    }
  }

  .event-inactive {
    background: url("../../icon/event-inactive-376.png");
    background-size: cover;
  }
}

@media screen and (min-width: 375px) and (max-width: 743px){
  .popup-right {
    display: none;
  }

  .popup-left {
    .elem-1 {
      width: 100vw;
      align-items: center;

      .btn-close {
        display: flex !important;
        flex: 0 0 28px;
        width: 100vw;
        margin-top: -28px;
        background-position: calc(100vw - 56px) !important;
      }
    }
  }

  .create-event-un-auth {
    display: none;
  }

  .popup-fon {
    justify-content: stretch;
    align-items: stretch;
  }

  .create-event-376 {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
    justify-content: stretch;

    .elem {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .elem-1 {
      flex: 0 0 24px;
      justify-content: end;
      margin-top: 24px;
      width: 100vw;

      .btn-close {
        margin-right: 24px;
      }
    }

    .elem-2 {
      flex: 1 0 48px;
      align-items: end;
      width: 247px;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0.04em;
      margin-bottom: 16px;
    }

    .elem-3 {
      flex: 0 0 38px;
      align-items: center;
      width: 249px;
      margin-bottom: 25px;
    }

    .elem-4 {
      flex: 0 0 $fieldHeight;
      width: 296px;
      margin-bottom: 24px;
    }

    .elem-5 {
      flex: 1 0 19px;
      width: 100px;
      align-items: start;
      color: #D19C6C;
      font-weight: 600;
      font-size: 16px;
    }
  }
}