@import "board-event-organizer";
@import "event-description";
@import "event-members";
@import "event-chat";

.main-page .body .event-organizer-component {
  display: flex;
  flex: 1 1 auto;
  margin-top: 32px;

  .elem {
    display: flex;
    justify-content: stretch;
  }

  .elem-1 {
    flex: 1 1 auto;
    margin-right: 31px;
    flex-direction: column;
  }

  .elem-2 {
    flex: 0 0 392px;
  }


}

@media screen and (min-width: 744px) and (max-width: 1279px){
  .main-page .body .event-organizer-component {

    .elem-1 {
        margin-right: 24px;
    }

    .elem-2 {
      flex: 0 0 340px;
    }
  }
}