.create-event-component {
  width: 872px;
  height: 718px;
  .elem-1 {
    margin-inline: auto !important;
  }
  .popup-left {
    flex: 0 0 411px;

    .btn-close {
      display: none;
    }
  }
  .popup-right {
    flex: 1 1 auto;
  }
}

@media screen and (min-width: 744px){
  .create-event-component {
    width: auto;
    height: 772px;

    .popup-left {
      display: flex;
      flex-direction: column;
      flex: unset;
      width: 615px;
    }

    .elem-2, .elem-3 {
      width: 260px;
    }
    .elem-5 {
      width: unset;
    }

    .elem-select-time {
      width: 117px;
    }

    .elem-7 {
      width: 245px;
    }

    .elem-10 {
      width: 275px;
    }

    .elem-11 {
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 743px) , (max-width: $maxScreenHeight) and (max-height: 743px) and (orientation: landscape){
  .create-event-component {
    width: 100%;
    height: 100%;
  }
  .create-event-component .popup-right {
    display: none;
  }

  .create-event-component .popup-left {
    flex: 0 0 100%;
    height: 100%;

    .btn-close {
      display: flex;
    }
  }
  .popup-fon {
    justify-content: stretch;
    align-items: stretch;
  }
}