.create-event-component {
  width: 872px;
  height: 718px;

  .popup-left {
    flex: 0 0 411px;

    .btn-close {
      display: none;
    }
  }
  .popup-right {
    flex: 1 1 auto;
  }
}

@media screen and (min-width: 744px) and (max-width: 1279px){
  .create-event-component {
    width: 696px;
    height: 772px;

    .popup-left {
      flex: 0 0 348px;
    }
  }
}

@media screen and (max-width: 743px) , (max-width: $maxScreenHeight) and (max-height: 743px) and (orientation: landscape){
  .create-event-component {
    width: 100%;
    height: 100%;
  }
  .create-event-component .popup-right {
    display: none;
  }

  .create-event-component .popup-left {
    flex: 0 0 100%;
    height: 100%;

    .btn-close {
      display: flex;
    }
  }
  .popup-fon {
    justify-content: stretch;
    align-items: stretch;
  }
}