.fill-regulation-component {
  &.reglament-component {
    flex: 0 0 540px;
    height: 603px;
  }

  &.until-goal {
    height: 642px;
  }
}

.fill-regulation-component .elem {
  display: flex;

  &.elem-4 {
    flex: 1 1 auto;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 19px;
    width: 280px;

    .dropdown-size-format {
      &.dropdown-component {
        .dropdown {
          .left-icon {
            left: $dropDownLeftIconLeft;
          }
        }
      }
    }

    .dropdown-size-count-circle {
      &.dropdown-component {
        .dropdown {
          .left-icon {
            left: $dropDownLeftIconLeft;
          }
          .right-icon {
            width: 16px;
          }

          .dropdown-label {
            background-position: right 16px center;
          }
        }
      }
    }
    .dropdown-size-mode {
      &.dropdown-component {
        .dropdown {
          .left-icon {
            left: $dropDownLeftIconLeft;
          }
          .right-icon {
            width: 16px;
          }

          .dropdown-label {
            background-position: right 16px center;
          }
        }
      }
    }

    .check-slider-size {
      margin-bottom: 13px;

      .question-mark-icon {
        flex: 0 0 16px;
      }
    }

    .until-goal-input {
      &.input-component {
        input[type=text], [type=password]{
          padding-right: 17px;
          padding-left: 17px;
        }
      }

      &.hidden {
        display: none;
      }
    }
  }

  &.elem-5 {
    flex: 0 0 $fieldHeight;
    width: 280px;
    margin-bottom: 40px;

    &.safari-margin {
      margin-bottom: 70px;
    }
  }
}



@media screen and (min-width: 375px) and (max-width: 743px) , (min-height: 375px) and (max-height: 743px) and (orientation: landscape){
  .fill-regulation-component {
    &.reglament-component {
      flex: 0 0 100vw;
      height: 100vh;
    }

    &.until-goal {
      height: 100vh;
    }
  }
}


