.right-fon-component {
  display: flex;
  flex: 0 0 50%;
  align-items: stretch;
  box-sizing: border-box;
  padding: 50px 60px;
  position: relative;
  flex-direction: column;
  gap: 18px;
  border-radius: 10px;

  .btn-close {
    position: absolute;
    flex: 0 0 24px;
    top: 28px;
    right: 28px;
  }
  .points {
    display: flex;
    flex: 0 0 16px;
    align-items: center;
    gap: 12px;

    .point {
      display: flex;
      flex: 0 0 8px;
      height: 8px;
      width: 8px;

      &.point-big {
        flex: 0 0 16px;
        height: 16px;
        width: 16px;
        border-radius: 8px;
      }
    }
  }
}

@media screen and (min-width: 375px) and (max-width: 743px) , (min-height: 375px) and (max-height: 743px) and (orientation: landscape){
  .right-fon-component {
    display: none;
  }
}