.back-button-component {
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: url("../../assets/icon/left-arrow.png") no-repeat;
  background-size: 10px 16px;
  background-position: center;
  position: absolute;
}