.head-component {
  display: flex;
  flex: 0 0 96px;
  align-items: center;
  gap: 40px;
  justify-content: center;
  box-shadow: 0px 2px 6px rgba(188, 188, 188, 0.25);
  background: $whiteColor;

  .elem {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;

    &.elem-1 {
      flex: 0 0 78px;
    }

    &.elem-2 {
      flex-direction: row;
      gap: 40px;
      justify-content: start;

      .menu-point {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        &.inactive {
          background: 0;
          color: $grayColor !important;
        }
        &.black-point-icon {
          margin-top: 8px;
          height: 27px;
          background-position: center 21px;
        }
        &:hover {
          text-decoration: underline;
        }
        &.menu-point-1 {
          flex: 0 0 65px;
        }
        &.menu-point-2 {
          flex: 0 0 70px;
        }
        &.menu-point-3 {
          flex: 0 0 90px;
        }
        &.menu-point-4 {
          flex: 0 0 35px;
        }
      }
    }

    &.search-black-icon {
      flex: 0 0 28px;
      height: 28px;
      cursor: pointer;

      &.hidden {
        display: none;
      }
    }

    &.un-auth-user {
      flex-direction: row;
      flex: 0 0 189px;
      margin-right: $marginSides;


      span {
        margin-left: 16px;
        font-weight: 500;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      .avatar-black-icon {
        flex: 0 0 18px;
        height: 20px;
        cursor: pointer;
      }
    }
  }

  .main-search-component {
    flex: 0 0 303px;
  }
  .loader-component {
    position: static;
    width: 300px;
  }
}

@media screen and (min-width: 1280px) {
  .head-component {
    padding: 0 calc((100vw - 1160px) / 2);
  }
}

@media screen and (min-width: 744px) and (max-width: 1279px){
  .head-component {
    padding: 0 30px;
  }
  .head-component .un-auth-user {
    flex: 0 0 18px !important;

    span {
      display: none;
    }
  }
}

@media screen and (max-width: 743px) , (min-height: 375px) and (max-height: 743px) and (orientation: landscape){
  .head-component {
    display: none;
  }

  .head-component .elem {
    display: none;
  }
}