html {
  -webkit-text-size-adjust: none;
  //overscroll-behavior: none;
}

body {
  -webkit-text-size-adjust: none;
  margin: 0;
  overscroll-behavior: none;
  overflow-y: auto;
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
}

span {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  //font-weight: 400;
  //font-size: 16px;
  line-height: 120%;
  color: $blackColor;
}

li {
  font-family: 'Raleway', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

textarea {
  background-color: transparent;
  resize: none;
  outline: none;
  border: 0.8px solid #949494;
  border-radius: 10px;
  padding: 16px;
  box-sizing: border-box;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #1B1B1B;
}

input[type=text], [type=password] {
  border: 0.8px solid #949494;
  padding-left: 40px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  -webkit-appearance: none;
  box-sizing: border-box;
  outline: none;
}

a {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #1B1B1B;
  text-decoration: none;

  &:-webkit-any-link:active {
    color: #949494;
  }

  &:hover {
    text-decoration: underline;
  }
}

.green {
  color: $greenColor;
}

.gray {
  color: $grayColor;
}

.red {
  color: $redColor;
}

.yellow {
  color: $yellowColor;
}

.popup-fon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(27, 27, 27, 0.7);
  z-index: 999;
  position: absolute;

  .popup-fon {
    background: 0;
  }
}

.ReactModal__Overlay {
  z-index: 999;
}

.popup-frame {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  border-radius: $borderRadius;
  background: $whiteColor;
}

.popup-left {
  display: flex;
  flex-direction: column;
  flex: 1 1 calc($popupWidth / 2);
  align-items: stretch;
  background: $whiteColor;
  border-radius: $borderRadius;
}

input[type="checkbox"] {
  display: none;
}

.link {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.text-bold {
  font-weight: 600;
}

.popup-right {
  display: flex;
  flex: 0 0 50%;
  align-items: stretch;
}

.popup-img {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: stretch;
  border-radius: $borderRadius;

  background-size: cover !important;
  background-position: center left !important;
  background-repeat: no-repeat !important;

  .first {
    display: flex;
    flex: 0 0 24px;
    margin-top: 20px;
    justify-content: end;
  }
  .second {
    display: flex;
    flex: 0 0 42px;
    justify-content: start;
    align-items: center;
    padding-left: 62px;
  }
  .third {
    display: flex;
    flex: 1 0 97px;
    justify-content: start;
    padding-left: 60px;
  }
}

.div-line {
  flex: 0 0 2px !important;
}

.line {
  width: 279px;
  height: 1px;
  background: #DBDBDB;
}

#telegram-login-PlaybotTestBot{
  height: 20px;
}

.div-input {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  //flex: 0 0 $fieldContainerHeight !important;

  input[type=text], [type=password]{
    flex: 0 0 $fieldHeight;
    border: 0.8px solid #949494;
    border-radius: 8px;

    &.error {
      border: 0.8px solid #EC5B56;
    }
  }

  .input-message {
    flex: 0 0 12px;
    margin-top: 4px;
    font-size: 10px;
    &.error {
      color: #EC5B56;
    }
  }
}

.div-input-checkbox {
  display: flex;
  position: relative;

  input[type=checkbox]{
    box-sizing: border-box;
    flex: 0 0 16px;
    border: 1px solid $grayColor;
    border-radius: 4px;
    &.error {
      border: 0.8px solid #EC5B56;
    }
  }
  a {
    flex: 1 1 auto;
    margin-left: 12px;
  }
  input:checked + label:before {
    flex: 0 0 16px;
    content: '';
    background: url("../icon/checked.png") no-repeat;
    background-size: 9px 7px;
    background-position: 2px 2px;
    position: absolute;
  }
  .checkbox-div {
    box-sizing: border-box;
    flex: 0 0 16px;
    height: 16px;
    border: 1px solid $grayColor;
    border-radius: 4px;

    &.error {
      border: 0.8px solid #EC5B56;
    }
  }
  .checkbox-label {
    position: absolute;
    width: 16px;
    height: 100%;
    cursor: pointer;
    top: 0;
    left: 0;

    &:before {
      position: absolute;
      width: 16px;
      height: 100%;
      left: 2px;
      right: 95.36%;
      top: 2px;
      cursor: pointer;
    }
  }
}

.circle-1 {
  flex: 0 0 16px;
  margin-right: 12px;
}

.circle-2 {
  flex: 0 0 8px;
}

.div-scroll {
  overflow: auto;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  .scroll-elem {
    display: flex;
    cursor: pointer;
    flex: 0 0 44px;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #1B1B1B;

    &:hover {
      background: #dcdbdb;
    }
  }

  .checked {
    font-weight: 600;
    line-height: 44px;
    background: url("../icon/checked-orange.png") no-repeat;
    background-size: 12px 9px;
    background-position: left center;
    padding-left: 20px;
    &:hover {
      background: url("../icon/checked-orange.png") no-repeat;
      background-size: 12px 9px;
      background-position: left center;
    }
  }

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    border: 1px solid transparent;
    background-clip: content-box;
    border-radius: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(35, 32, 33, 0.12);
    border-radius: 2px;
  }
}

.rdtPicker {
  top: $fieldHeight;
}

.dropdown-country {
  flex: 0 0 65px;
  box-sizing: border-box;
  cursor: pointer;
  max-width: 65px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: $fieldHeight;


  .dropdown-label {
    display: flex;
    flex: 0 0 $fieldHeight;
    align-items: center;
    padding-left: 16px;
    cursor: pointer;
    background: #F3F3F3;
    background-position: 10px center;
    border: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    img {
      width: 20px;
    }
  }
  .down-arrow-icon {
    position: relative;
    flex: 0 0 24px;
    width: 24px;
    top: -36px;
    left: 36px;
  }
  .up-arrow-icon {
    position: relative;
    flex: 0 0 24px;
    width: 24px;
    top: -36px;
    left: 36px;
  }
  .dropdown-menu {
    display: none;
    flex-direction: column;
    opacity: 0;
    border: 1px solid gray;
    border-radius: 8px;
    transition: all 100ms ease;
    background: rgb(255, 255, 255);
    width: $fieldWidth - 2px;
    top: -24px;
    left: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 9999999;

    &.open {
      opacity: 1;
      display: flex;
      position: relative;
    }
    .search-icon {
      flex: 0 0 39px;
      border: 0;
      border-bottom: 1px solid #E1E1E1;;

      &:active {
        outline: 0;
      }
      &:focus {
        outline: 0;
      }
    }
    .dropdown-body {
      display: flex;
      flex-direction: column;
      flex: 0 0 224px;
      overflow: auto;

      .dropdown-elem {
        display: flex;
        align-items: center;
        flex: 0 0 32px;
        cursor: pointer;
        padding: 0;

        &:hover {
          background: rgba(227, 225, 225, 0.63);
          border-radius: 8px;
        }
        .country {
          flex: 1 1 auto;
          margin-left: 15px;
          color: #595959;
        }
        .code {
          display: flex;
          flex: 0 0 32px;
          justify-content: end;
          color: #8C8C8C;
        }
        .banner {
          flex: 0 0 20px;
          width: 20px;
          margin-right: 12px;
          margin-left: 8px;
        }
      }

      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-track {
        border: 1px solid transparent;
        background-clip: content-box;
        border-radius: 2px;
      }
      &::-webkit-scrollbar-thumb {
        background: rgba(35, 32, 33, 0.12);
        border-radius: 2px;
      }
    }
  }
}

.scroll {
  overflow: auto;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    border: 1px solid transparent;
    background-clip: content-box;
    border-radius: 5px;
    background: #E9E9E9;
  }
  &::-webkit-scrollbar-thumb {
    background: #ABABAB;
    border-radius: 5px;
  }
}

@media screen and (max-width: 743px) , (max-width: $maxScreenHeight) and (max-height: 743px) and (orientation: landscape){
  html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  body {
    //width: 100vw;
    //height: 100vh;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  span {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
  }
  a {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
  }
  div {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
  }
}

.calendar-day {
  &.inactive {
    color: #949494;
    cursor: default;

    &:hover {
      background: 0;
    }
  }
  &:hover {
    background: rgba(227, 225, 225, 0.63);
    border-radius: 8px;
  }
}

.pulse-yellow-point {
  display: flex;
  height: 8px;
  flex: 0 0 8px;
  border-radius: 50%;
  background: $yellowColor;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

@media screen and (max-width: $maxScreenHeight) and (max-height: 743px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    height: 100vw;
  }
  //.popup-frame {
  //  width: 100vh !important;
  //  height: 100vw !important;
  //}
}
