@import "body/best-players";
@import "body/no-events";
@import "body/events";
@import "body/event";
@import "body/location";
@import "body/same-event";

.main-page .body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: stretch;
  padding-left: $paddingSidesBody;
  padding-right: $paddingSidesBody;
  padding-top: $paddingTopBody;
  padding-bottom: $paddingBottomBody;
  background: #F3F3F3;
  overflow: auto;
}

.main-page .body .main-page-component {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: stretch;
}

.main-page .body .title {
  display: flex;
  align-items: center;
  flex: 0 0 29px;
  margin-bottom: 32px;
  margin-top: 40px;

  .t-1 {
    font-weight: 600;
    font-size: 24px;
    margin-right: 24px;
  }

  .t-2 {
    display: flex;
    cursor: pointer;
    align-items: center;

    span {
      font-size: 14px;
      color: #D19C6C;
      margin-right: 4px;
      flex: 1 1 auto;
      white-space: nowrap;

      &:hover {
        text-decoration: underline;
      }
    }

    .orange-right-arrow-icon {
      flex: 0 0 24px;
      height: 24px;
    }
  }
}

.main-page .body .board-create-event {
  display: flex;
  flex: 0 0 478px;
  justify-content: stretch;
  align-items: stretch;
}

.main-page .body .board-create-event .board-create-event-376 {
  display: none;
}

.main-page .body .board-create-event .board-create-event-1280 {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(215, 215, 215, 0.25);
  border-radius: 10px;


  .elem {
    display: flex;
    align-items: center;
    margin-left: 92px;

    &.elem-1 {
      flex: 0 0 86px;
      width: 610px;
      margin-top: 89px;
      font-family: "Inter", sans-serif;
      font-weight: 700;
      font-size: 36px;
      line-height: 120%;
      letter-spacing: 0.04em;
      color: #1B1B1B;
    }

    &.elem-2 {
      margin-top: 50px;
      flex: 1 0 50px;
      flex-wrap: wrap;
      padding-top: 20px;
      align-items: start;

      .text {
        display: flex;
        font-weight: 600;
        font-size: 18px;
        margin-right: 40px;
      }

      .black-cup-icon {
        padding-left: 53px;
        flex: 0 0 99px;
        background-position: 5px 5px;
      }

      .black-hands-icon {
        flex: 0 0 140px;
        padding-left: 53px;
        background-position: 5px 5px;

      }

      .black-running-icon {
        flex: 0 0 180px;
        padding-left: 53px;
      }
    }

    &.elem-3 {
      flex: 0 0 $fieldHeight;
      align-items: stretch;
      margin-bottom: 70px;

      .btn {
        flex: 0 0 240px;
        justify-content: center;
        align-items: center;

        .white-ball-icon {
          flex: 0 0 20px;
          height: 20px;
        }
      }
    }
  }
}

.main-page .body .board-events-1280 {
  display: flex;
  flex: 0 0 140px;
  height: 140px;
  border-radius: 8px;
  margin-bottom: 32px;
}

@media screen and (min-width: 375px) and (max-width: 743px){
  .main-page .body .board-create-event .board-create-event-1280 {
    display: none;
  }

  .main-page .body .board-create-event {
    display: flex;
    flex: 0 0 60px;
    justify-content: stretch;
    align-items: stretch;
    margin: 20px;
  }

  .main-page .body .board-events-1280 {
    display: none;
  }

  .main-page .body .board-create-event .board-create-event-376 {
    display: flex;
    flex: 1 1 auto;

    .elem {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .elem-1 {
      flex: 1 1 auto;
      margin-right: 12px;
      border-radius: 8px;
      font-family: "Inter", sans-serif;
      font-weight: 700;
      font-size: 18px;
      color: #FFFFFF;
    }

    .elem-2 {
      flex: 0 0 60px;

      .white-plus-icon {
        flex: 0 0 20px;
        height: 20px;
      }
    }
  }

  .main-page .body {
    padding: 0;
    max-height: calc(100vh - $bottomHeight);

    .main-page-component .elem-1280 {
      display: none;
    }
  }

  .main-page .body .title {
    display: none;
  }
}
