.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 22px;
  gap: 10px;
  border:none;
  background: #d19c6c;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  box-sizing: border-box;

  &:hover {
    background: #E8B07D;
  }

  &:focus {
    outline-color: transparent;
    outline-style:solid;
    background: #d19c6c;
  }

  &:active {
    background: #C68B56;
  }

  &.disabled {
    background: #E1C5AB;
  }
}

.btn-second {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  border: 1px solid #000000;

  background: $whiteColor;
  border-radius: 8px;
  cursor: pointer;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #1B1B1B;

  &:hover {
    background: $lightGrayColor;
  }

  &:focus {
    outline-color: transparent;
    outline-style:solid;
    background: $lightGrayColor;
  }

  &:active {
    background: #DCDCDC;
    border: 0;
  }

  &.disabled {
    color: #888888;
  }
}

.btn-close {
  width: 24px;
  height: 24px;
  cursor: pointer;

  background: url("../icon/cross.png") no-repeat;
  background-size: 16px 16px;
  background-position: center;
}

.btn-back {
  width: 24px;
  height: 24px;
  cursor: pointer;

  background: url("../icon/left-arrow.png") no-repeat;
  background-size: 10px 16px;
  background-position: center;
}