.confirm-teams-component {
  flex: 0 0 540px;
  height: 709px;
  flex-direction: column;
  align-items: center;
}

.confirm-teams-component .elem {
  display: flex;

  &.elem-1 {
    flex: 0 0 26px;
    padding: 0;
    margin-top: 28px;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;

    .btn-close {
      margin-right: 28px;
    }

    .btn-back {
      margin-left: 30px;
    }
  }

  &.elem-2 {
    flex: 0 0 19px;
    margin-top: 24px;
    width: auto;
    justify-content: space-between;

    .el-center {
      margin-left: 52px;
      margin-right: 52px;
    }
  }

  &.elem-3 {
    flex: 0 0 4px;
    margin-top: 14px;
    width: 288px;

    .orange-line {
      flex: 0 0 96px;
      background: #D19C6C;
    }

    .gray-line {
      flex: 0 0 96px;
      background: #BABABA;
    }
  }


  &.elem-4 {
    flex: 1 1 auto;
    flex-direction: column;
    margin-bottom: 19px;
    width: 280px;

    .dropdown-size-format {
      &.dropdown-component {
        .dropdown {
          .left-icon {
            left: $dropDownLeftIconLeft;
            top: 16px;
          }
        }
      }
    }

    .dropdown-size-count-circle {
      &.dropdown-component {
        .dropdown {
          .left-icon {
            left: $dropDownLeftIconLeft;
            top: 18px;
          }
        }
      }
    }

    .check-slider-size {
      margin-bottom: 13px;
    }
  }

  &.elem-5 {
    flex: 0 0 $fieldHeight;
    width: 280px;
    margin-bottom: 40px;
  }
}



@media screen and (min-width: 375px) and (max-width: 743px){
  .fill-regulation-component {
    flex: 0 0 100vw;
    height: 100vh;
  }
}


