.edit-event-component {
  flex: 0 0 411px;
  height: 674px;
  border-radius: 10px;
  .elem.elem-1 {
    align-self: stretch;
    width: auto;
  }
}

@media screen and (min-width: 375px) and (max-width: 743px){
  .edit-event-component {
    flex: 0 0 100vw;
    height: 100vh;
    border-radius: 0;

    .elem.elem-1 {
      align-self: stretch;
    }
  }
}