.edit-event-component {
  flex: 0 0 411px;
  height: 702px;
  border-radius: 10px;
  .elem.elem-1 {
    align-self: stretch;
    width: auto;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 744px) and (max-width: 1279px){
  .edit-event-component {
    height: 772px;
  }
}

@media screen and (min-width: 375px) and (max-width: 743px){
  .edit-event-component {
    flex: 0 0 100vw;
    height: 100vh;
    border-radius: 0;

    .elem.elem-1 {
      align-self: stretch;
    }
  }
}