.allow-policy-fon {
  background: url("../fons/allow-policy.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.events-376-fon {
  background: url("../icon/events-376.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.mobile-1-fon {
  background: url("../icon/mobile-first-page.png") no-repeat;
  background-size: cover;
  background-position: center center;
}

.emblem-fon {
  background: url("../fons/emblem.jpg") no-repeat;
  background-size: contain;
  background-position: center;
}