.allow-policy-fon {
  background: url("../fons/allow-policy.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.events-376-fon {
  background: url("../icon/events-376.png");
  background-repeat: no-repeat;
  background-size: cover;
}