.black-800-32 {
  font-weight: 800;
  font-size: 32px;
  color: $blackColor;
}

.black-700-36 {
  font-weight: 700;
  font-size: 36px;
  color: $blackColor;
}

.black-700-28 {
  font-weight: 700;
  font-size: 28px;
  color: $blackColor;
}

.black-700-20 {
  font-weight: 700;
  font-size: 20px;
  color: $blackColor;
}

.black-700-18 {
  font-weight: 700;
  font-size: 18px;
  color: $blackColor;
}

.black-700-16 {
  font-weight: 700;
  font-size: 16px;
  color: $blackColor;
}

.black-700-13 {
  font-weight: 700;
  font-size: 13px;
  color: $blackColor;
}

.black-600-32 {
  font-weight: 600;
  font-size: 32px;
  color: $blackColor;
}

.black-600-24 {
  font-weight: 600;
  font-size: 24px;
  color: $blackColor;
}

.black-600-22 {
  font-weight: 600;
  font-size: 22px;
  color: $blackColor;
}

.black-600-20 {
  font-weight: 600;
  font-size: 20px;
  color: $blackColor;
}

.black-600-18 {
  font-weight: 600;
  font-size: 18px;
  color: $blackColor;
}

.black-600-16 {
  font-weight: 600;
  font-size: 16px;
  color: $blackColor;
}

.black-600-14 {
  font-weight: 600;
  font-size: 14px;
  color: $blackColor;
}

.black-600-13 {
  font-weight: 600;
  font-size: 13px;
  color: $blackColor;
}

.black-600-12 {
  font-weight: 600;
  font-size: 12px;
  color: $blackColor;
}

.black-500-28 {
  font-weight: 500;
  font-size: 28px;
  color: $blackColor;
}

.black-500-24 {
  font-weight: 500;
  font-size: 24px;
  color: $blackColor;
}

.black-500-20 {
  font-weight: 500;
  font-size: 20px;
  color: $blackColor;
}

.black-500-18 {
  font-weight: 500;
  font-size: 18px;
  color: $blackColor;
}

.black-500-16 {
  font-weight: 500;
  font-size: 16px;
  color: $blackColor;
}

.black-500-14 {
  font-weight: 500;
  font-size: 14px;
  color: $blackColor;
}

.black-500-12 {
  font-weight: 500;
  font-size: 12px;
  color: $blackColor;
}

.black-400-16 {
  font-weight: 400;
  font-size: 16px;
  color: $blackColor;
}

.black-400-14 {
  font-weight: 400;
  font-size: 14px;
  color: $blackColor;
}

.black-400-13 {
  font-weight: 400;
  font-size: 13px;
  color: $blackColor;
}

.black-400-12 {
  font-weight: 400;
  font-size: 12px;
  color: $blackColor;
}

.black-300-16 {
  font-weight: 300;
  font-size: 16px;
  color: $blackColor;
}

.black-300-13 {
  font-weight: 300;
  font-size: 13px;
  color: $blackColor;
}

.black-400-12-italic {
  font-weight: 400;
  font-size: 12px;
  color: $blackColor;
  font-style: italic;
}

.white-700-40 {
  font-weight: 700;
  font-size: 40px;
  color: $whiteColor;
}

.white-700-18 {
  font-weight: 700;
  font-size: 18px;
  color: $whiteColor;
}

.white-600-20 {
  font-weight: 600;
  font-size: 20px;
  color: $whiteColor;
}

.white-600-16 {
  font-weight: 600;
  font-size: 16px;
  color: $whiteColor;
}

.white-600-14 {
  font-weight: 600;
  font-size: 14px;
  color: $whiteColor;
}

.white-600-12 {
  font-weight: 600;
  font-size: 12px;
  color: $whiteColor;
}

.white-500-16 {
  font-weight: 500;
  font-size: 16px;
  color: $whiteColor;
}

.white-500-12 {
  font-weight: 500;
  font-size: 12px;
  color: $whiteColor;
}

.white-400-20 {
  font-weight: 400;
  font-size: 20px;
  color: $whiteColor;
}

.white-400-14 {
  font-weight: 400;
  font-size: 14px;
  color: $whiteColor;
}

.dark-gray-600-32 {
  font-weight: 600;
  font-size: 32px;
  color: $darkGrayColor;
}

.dark-gray-500-16 {
  font-weight: 500;
  font-size: 16px;
  color: $darkGrayColor;
}

.dark-gray-400-14 {
  font-weight: 400;
  font-size: 14px;
  color: $darkGrayColor;
}

.dark-gray-400-12 {
  font-weight: 400;
  font-size: 12px;
  color: $darkGrayColor;
}

.gray-700-20 {
  font-weight: 700;
  font-size: 20px;
  color: $grayColor;
}

.gray-600-14 {
  font-weight: 600;
  font-size: 14px;
  color: $grayColor;
}

.gray-600-13 {
  font-weight: 600;
  font-size: 13px;
  color: $grayColor;
}

.gray-600-12 {
  font-weight: 600;
  font-size: 12px;
  color: $grayColor;
}

.gray-400-16 {
  font-weight: 400;
  font-size: 16px;
  color: $grayColor;
}

.gray-400-14 {
  font-weight: 400;
  font-size: 14px;
  color: $grayColor;
}

.gray-400-13 {
  font-weight: 400;
  font-size: 13px;
  color: $grayColor;
}

.gray-400-12 {
  font-weight: 400;
  font-size: 12px;
  color: $grayColor;
}

.gray-400-11 {
  font-weight: 400;
  font-size: 11px;
  color: $grayColor;
}

.gray-400-10 {
  font-weight: 400;
  font-size: 10px;
  color: $grayColor;
}

.orange-600-11 {
  font-weight: 600;
  font-size: 11px;
  color: $orangeColor;
}

.orange-400-14 {
  font-weight: 400;
  font-size: 14px;
  color: $orangeColor;
}

.orange-400-11 {
  font-weight: 400;
  font-size: 11px;
  color: $orangeColor;
}

.middle-gray-400-14 {
  font-weight: 400;
  font-size: 14px;
  color: $middleGrayColor;
}

.middle-gray-400-12 {
  font-weight: 400;
  font-size: 12px;
  color: $middleGrayColor;
}

.A7-gray-400-14 {
  font-weight: 400;
  font-size: 14px;
  color: #7A7A7A;
}

.orange-700-16 {
  font-weight: 700;
  font-size: 16px;
  color: $orangeColor;
}

.yellow-500-16 {
  font-weight: 500;
  font-size: 16px;
  color: #EFB041;
}

.red-400-14 {
  font-weight: 400;
  font-size: 14px;
  color: #EC5B56;
}