.name-icon {
  background: url("../icon/avatar.png") no-repeat;
  background-size: 15px 16px;
  background-position: 14px center;
}

.avatar-black-icon {
  background: url("../icon/avatar-black.png") no-repeat;
  background-size: 18px 20px;
  background-position: center center;
}

.phone-icon {
  background: url("../icon/phone.png") no-repeat;
  background-size: 15px 16px;
  background-position: 14px center;
}

.upload-photo-icon {
  background: url("../icon/upload-photo.png") no-repeat;
  background-size: 230px 354px;
  background-position: center;
}

.number-icon {
  background: url("../icon/gray-number.svg") no-repeat;
  background-size: 20px 20px;
  background-position: 12px center;
}

.orange-clock-icon {
  background: url("../icon/orange-clock.png");
  background-repeat: no-repeat;
  background-size: 16px;
  height: 16px;
  width: 16px;
}

.filter-icon {
  background: url("../icon/filter.png");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
}

.orange-filter-icon {
  background: url("../icon/orange-filter.png");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
}

.yellow-warning-icon {
  background: url("../icon/yellow-warning.png");
  background-repeat: no-repeat;
  background-size: 24px 22px;
  background-position: center;
}

.red-warning-icon {
  background: url("../icon/red-warning.png");
  background-repeat: no-repeat;
  background-size: 24px 22px;
  background-position: center;
}

.black-plus-icon {
  background: url("../icon/black-plus.png");
  background-repeat: no-repeat;
  background-size: 23.5px;
  background-position: center;
}

.orange-minus-icon {
  background: url("../icon/orange-minus.png");
  background-repeat: no-repeat;
  background-size: 3.5px 30px;
  background-position: center;
  transform: rotate(90deg);
}

.email-icon {
  background: url("../icon/email.png") no-repeat;
  background-size: 16px 12px;
  background-position: 14px center;
}

.password-icon {
  background: url("../icon/password.png") no-repeat;
  background-size: 12px 15px;
  background-position: 14px center;
}

.orange-lock-icon {
  background: url("../icon/orange-lock.png") no-repeat;
  background-size: 12px 15px;
  background-position: center;
}

.gender-man-icon {
  background: url("../icon/gender-man.png") no-repeat;
  background-size: 12px;
  background-position: center;
  width: 12px;
}

.eye-icon {
  background-image: url("../icon/eye.png");
  background-size: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-repeat: no-repeat;
  &.off {
    background-image: url("../icon/eye-off.png");
  }
}

.black-eye-icon {
  background-image: url("../icon/black-eye.png");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
  cursor: pointer;
}

.file-icon {
  background-image: url("../icon/file.png");
  background-repeat: no-repeat;
  background-size: 9.33px 12px;
  background-position: center;
}

.no-photo-icon {
  background-image: url("../icon/no-photo.png");
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
  cursor: pointer;
}

.search-icon {
  background: url("../icon/search.png") no-repeat;
  background-size: 15px;
  background-position: 14px center;
}

.search-black-icon {
  background: url("../icon/search-black.png");
  background-repeat: no-repeat;
  background-size: 28px;
  background-position: center center;
}

.orange-search-icon {
  background: url("../icon/orange-search.png");
  background-repeat: no-repeat;
  background-size: 21px;
  background-position: center center;
}

.orange-check-icon {
  background: url("../icon/checked-orange.png");
  background-repeat: no-repeat;
  background-size: 12px 9px;
  background-position: center center;
}

.orange-checkbox-icon {
  background: url("../icon/checkbox-empty.png");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center center;

  &.selected {
    background: url("../icon/checkbox-orange.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center center;
  }
}

.calendar-icon {
  background: url("../icon/calendar.png");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: 0px center;
  z-index: 99999;
}

.calendar2-icon {
  background: url("../icon/calendar2.png") no-repeat;
  background-size: 20px;
}

.calendar3-icon {
  background: url("../icon/calendar3.png") no-repeat;
  background-size: 14px 12px;
  background-position: center;
}

.clock-icon {
  background: url("../icon/clock.png") no-repeat;
  background-size: 24px;
  background-position: 0px center;
  z-index: 99999;
}

.gray-clock-icon {
  background: url("../icon/gray-clock.png");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  width: 14px;
  height: 14px;
}

.black-timer-icon {
  background: url("../icon/black-timer-icon.png");
  background-repeat: no-repeat;
  background-size: 20px;
  width: 20px;
  height: 20px;
}

.down-arrow-icon {
  background: url("../icon/down-arrow.png") no-repeat;
  background-size: 24px;
}

.up-arrow-icon {
  background: url("../icon/up-arrow.png") no-repeat;
  background-size: 24px;
}

.black-up-arrow-icon {
  background: url("../icon/black-up-arrow.png") no-repeat;
  background-size: 10px 6.5px;
  background-position: center;
}

.clock-middle-icon {
  background: url("../icon/clock-middle.png") no-repeat;
  background-size: 4px 17px;
  background-position: center;
}

.ball-icon {
  background: url("../icon/ball.png") no-repeat;
  background-size: 20px;
  background-position: left center;
}

.white-ball-icon {
  background: url("../icon/white-ball.png");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.white-play-icon {
  background: url("../icon/white-play.png");
  background-repeat: no-repeat;
  background-size: 18px 20px;
  background-position: center;
}

.white-pause-icon {
  background: url("../icon/white-pause.png");
  background-repeat: no-repeat;
  background-size: 16px 19px;
  background-position: center;
}

.black-ball-icon {
  background: url("../icon/black-ball.png");
  background-repeat: no-repeat;
  background-size: 20px;
}

.gray-ball-icon {
  background: url("../icon/gray-ball.svg");
  background-repeat: no-repeat;
  background-size: 11.5px;
}

.black-bell-icon {
  background: url("../icon/black-bell.png");
  background-repeat: no-repeat;
  background-size: 20px 24px;
}

.white-plus-icon {
  background: url("../icon/white-plus.png");
  background-repeat: no-repeat;
  background-size: 20px;
}

.orange-plus-icon {
  background: url("../icon/orange-plus.png");
  background-repeat: no-repeat;
  background-size: 9px;
  background-position: center;
  width: 9px;
}

.gray-cross-icon {
  background: url("../icon/gray-cross.png");
  background-repeat: no-repeat;
  background-size: 8px;
  width: 8px;
  height: 8px;
}



.map-point-icon {
  background: url("../icon/map-point.png") no-repeat;
  background-size: 20px;
}

.map-paper-icon {
  background: url("../icon/map-paper.png") no-repeat;
  background-size: 15px 14.5px;
  height: 14.5px;
  width: 15px;
}

.foot-icon {
  background: url("../icon/foot-with-ball.png") no-repeat;
  background-size: 20px;
  height: 20px;
  width: 20px;
}

.black-foot-with-ball-icon {
  background: url("../icon/black-foot-with-ball.png") no-repeat;
  background-size: 20px;
  height: 20px;
  width: 20px;
}

.black-reglament-icon {
  background: url("../icon/black-reglament.png") no-repeat;
  background-size: 12px 15px;
  height: 15px;
  width: 12px;
}

.black-event-table-icon {
  background: url("../icon/black-event-table.png") no-repeat;
  background-size: 20px;
  height: 20px;
  width: 20px;
}

.black-table-with-middle-row-icon {
  background: url("../icon/black-table-with-middle-row.png") no-repeat;
  background-size: 17px 16px;
  height: 20px;
  width: 20px;
}

.socer-player-icon {
  background: url("../icon/socer-player.png") no-repeat;
  background-size: 60px;
  height: 60px;
  width: 60px;
}

.question-mark-icon {
  background: url("../icon/question-mark.png") no-repeat;
  background-size: 16px;
}

.two-people-icon {
  background: url("../icon/two-people.png") no-repeat;
  background-size: 16px;
  height: 16px;
  width: 16px;
}

.man-in-target-icon {
  background: url("../icon/man-in-target.png") no-repeat;
  background-size: 16px;
  height: 16px;
  width: 16px;
}

.football-field-icon {
  background: url("../icon/football-field.png") no-repeat;
  background-size: 16px 11px;
  height: 11px;
  width: 16px;
}

.gray-wallet-icon {
  background: url("../icon/gray-wallet.png") no-repeat;
  background-size: 20px;
}

.point-icon {
  background: $yellowColor;
  border-radius: 4px;
  height: 8px;
  width: 8px;
}

.gray-point-icon {
  background: url("../icon/gray-point.png") no-repeat;
  background-size: 12px;
}

.orange-point-icon {
  background: url("../icon/orange-point.png") no-repeat;
  background-size: 12px;
}

.player-avatar-icon {
  background: url("../icon/player-avatar.png");
  background-repeat: no-repeat;
  background-size: 37px 52px;
}

.rank-icon {
  background: url("../icon/rank.png");
  background-repeat: no-repeat;
  background-size: 138px 33px;
}

.red-bucket-icon {
  background: url("../icon/red-bucket.svg");
  background-repeat: no-repeat;
  background-size: 18px 20px;
}

.autogoal-icon {
  background: url("../icon/autogoal.svg");
  background-repeat: no-repeat;
  background-size: 32px;
}

.spanish-man-icon {
  background: url("../icon/spanish-man.png");
  background-repeat: no-repeat;
  background-size: 275px 224px;
  height: 224px;
}

.star-icon {
  background: url("../icon/star.png");
  background-repeat: no-repeat;
  background-size: 16px;
}

.yellow-star-icon {
  background: url("../icon/yellow-star.png");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center;
}

.send-icon {
  background: url("../icon/send.png");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
}

.black-cup-icon {
  background: url("../icon/black-cup.png");
  background-repeat: no-repeat;
  background-size: 28px;
}

.black-hands-icon {
  background: url("../icon/black-hands.png");
  background-repeat: no-repeat;
  background-size: 28px;
}

.black-running-icon {
  background: url("../icon/black-running.png");
  background-repeat: no-repeat;
  background-size: 34px;
}

.slider-check-icon {
  background: url("../icon/slider-check.png");
  background-repeat: no-repeat;
  background-size: 40px 24px;
  width: 40px;
  height: 24px;
  cursor: pointer;
}

.slider-uncheck-icon {
  background: url("../icon/slider-uncheck2.png");
  background-repeat: no-repeat;
  background-size: 40px 24px;
  width: 40px;
  height: 24px;
  cursor: pointer;
}

.logo-korobka-icon {
  background: url("../icon/logo-korobka.png");
  background-repeat: no-repeat;
  background-size: 78px 46px;
  width: 78px;
  height: 46px;
  cursor: pointer;
}

.logo-korobka-white-icon {
  background: url("../icon/logo-korobka-white.png");
  background-repeat: no-repeat;
  background-size: 78px 46px;
  width: 78px;
  height: 46px;
  cursor: pointer;
}

.title-korobka-white-icon {
  background: url("../icon/title-korobka-white.png");
  background-repeat: no-repeat;
  background-size: 94px 27px;
  width: 94px;
  height: 27px;
}

.black-title-korobka-icon {
  background: url("../icon/black-title-korobka.png");
  background-repeat: no-repeat;
  background-size: 47px auto;
  background-position: center center;
  width: 47px;
}

.black-point-icon {
  background: url("../icon/black-point.png");
  background-repeat: no-repeat;
  background-size: 6px;
  width: 6px;
  height: 6px;
}

.note-orange-icon {
  background: url("../icon/note-orange.png") no-repeat;
  background-size: 15px 16px;
  background-position: center center;
  height: 16px;
  width: 15px;
}

.instagram-icon {
  background: url("../icon/instagram.png") no-repeat;
  background-size: 24px;
  background-position: center center;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.telegram-icon {
  background: url("../icon/telegram.png") no-repeat;
  background-size: 24px;
  background-position: center center;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.vk-icon {
  background: url("../icon/vk.png") no-repeat;
  background-size: 24px;
  background-position: center center;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.orange-cup-icon {
  background: url("../icon/orange-cup.png");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center center;
  height: 20px;
  width: 20px;
  cursor: pointer;

  &.disabled {
    background: url("../icon/gray-cup.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center center;
  }
}

.gray-cup-icon {
  background: url("../icon/gray-cup.png");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center center;
  height: 20px;
  width: 20px;
}

.orange-statistic-icon {
  background: url("../icon/orange-statistic.png");
  background-repeat: no-repeat;
  background-size: 20px 18px;
  background-position: center center;
  height: 18px;
  width: 20px;
  cursor: pointer;

  &.disabled {
    background: url("../icon/gray-statistic.png");
    background-repeat: no-repeat;
    background-size: 20px 18px;
    background-position: center center;
  }
}

.avatar-icon {
  background-size: 14px 16px;
  background-position: center center;
  height: 16px;
  width: 14px;
  cursor: pointer;

  &.disabled {
    background: url("../icon/avatar.png") no-repeat;
    background-size: 14px 16px;
    cursor: pointer;
  }
}

.orange-avatar-icon {
  background: url("../icon/orange-avatar.png");
  background-repeat: no-repeat;
  background-size: 14px 16px;
  background-position: center center;
  height: 16px;
  width: 14px;
  cursor: pointer;

  &.disabled {
    background: url("../icon/avatar.png");
    background-repeat: no-repeat;
    background-size: 14px 16px;
    background-position: center center;
  }
}

.orange-right-arrow-icon {
  background: url("../icon/orange-right-arrow.png") no-repeat;
  background-size: 24px;
  background-position: center center;
}

.yellow-right-arrow-line-icon {
  background: url("../icon/yellow-right-arrow-line.png") no-repeat;
  background-size: 17px 12px;
  background-position: center;
}

.gray-right-arrow-icon {
  background: url("../icon/gray-right-arrow.png") no-repeat;
  background-size: 24px;
  background-position: center center;
}

.gray-left-arrow-icon {
  background: url("../icon/gray-left-arrow.png") no-repeat;
  background-size: 6.5px 10px;
  background-position: center center;
}

.black-left-arrow-icon {
  background: url("../icon/black-left-arrow.png") no-repeat;
  background-size: 6.5px 10px;
  background-position: center center;
  height: 10px;
  width: 6.5px;
}

.gray-down-arrow-icon {
  background: url("../icon/gray-down-arrow.png") no-repeat;
  background-size: 8px 5px;
  background-position: center center;
}

.white-down-arrow-icon {
  background: url("../icon/white-down-arrow.png") no-repeat;
  background-size: 8px 5px;
  background-position: center center;
}

.radio-select-icon {
  background: url("../icon/orange-radio-select.png") no-repeat;
  background-size: 24px;
  background-position: center center;

  &.inactive {
    background: url("../icon/gray-radio-select-outline.png") no-repeat;
    background-size: 18px;
    background-position: center center;
  }

}

.player-select-icon {
  background: url("../icon/active-player-select.png") no-repeat;
  background-size: 20px;
  background-position: center center;

  &.inactive {
    background: url("../icon/inactive-player-select.png") no-repeat;
    background-size: 20px;
    background-position: center center;
  }

}

.settings-icon {
  background: url("../icon/settings.png");
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: center;
}

.upload-icon {
  background: url("../icon/upload.png");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center;
}

.dark-gray-cup-icon {
  background: url("../icon/dark-gray-cup.png");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: left center;
}

.white-cup-icon {
  background: url("../icon/white-cup.png");
  background-repeat: no-repeat;
  background-size: 112px;
}

.white-heands-icon {
  background: url("../icon/white-heands.png");
  background-repeat: no-repeat;
  background-size: 112px;
}

.white-run-people-icon {
  background: url("../icon/white-run-people.png");
  background-repeat: no-repeat;
  background-size: 111px 98px;
}

.dark-gray-avatar-icon {
  background: url("../icon/dark-gray-avatar.png");
  background-repeat: no-repeat;
  background-size: 13px 16px;
  background-position: left center;
}

.dark-gray-star-icon {
  background: url("../icon/dark-gray-star.png");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: left center;
}

.dark-gray-message-icon {
  background: url("../icon/dark-gray-message.png");
  background-repeat: no-repeat;
  background-size: 18px 16px;
  background-position: left center;
}

.black-edit-icon {
  background: url("../icon/black-edit.png");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: left center;
}

.pencil-icon {
  background: url("../icon/pencil.png");
  background-repeat: no-repeat;
  background-size: 12px;
  height: 12px;
  width: 12px;
  cursor: pointer;
}

.gray-copy-icon {
  background: url("../icon/gray-copy.png");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: left center;
}

.dark-gray-comment-icon {
  background: url("../icon/dark-gray-coment.png");
  background-repeat: no-repeat;
  background-size: 20px 18px;
  background-position: left center;
}

.board-events-icon {
  background: url("../icon/board-events.png") no-repeat;
  background-size: cover;
}

.orange-regard-icon {
  background: url("../icon/orange-regard.png");
  background-repeat: no-repeat;
  background-size: 32px 40px;
  background-position: center;
}

.gray-regard-icon {
  background: url("../icon/gray-regard.png");
  background-repeat: no-repeat;
  background-size: 32px 40px;
  background-position: center;
}