.popup-mobile-first {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  flex: 1 1 auto;
  align-items: center;
  padding: 24px 32px 32px 32px;
  box-sizing: border-box;


  background: url("../icon/mobile-first-page.png") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;

  .elem {
    display: flex;
    justify-content: center;
    text-align: center;

    &.elem-1 {
      flex: 0 0 19px;
      margin-bottom: 118px;
    }
    &.elem-2 {
      flex: 0 0 48px;
      max-width: 250px;
      margin-bottom: 32px;
    }
    &.elem-3 {
      flex: 0 0 112px;
      margin-bottom: 24px;
      width: 112px;
    }
    &.elem-4 {
      flex: 0 0 74px;
      margin-bottom: 24px;
    }
    &.elem-5 {
      flex: 1 1 auto;
      gap: 8px;

      .point {
        display: flex;
        flex: 0 0 12px;
      }
    }
    &.elem-6 {
      flex: 0 0 48px;
      align-self: stretch;

      &.safari-margin {
        margin-bottom: 50px;
      }
    }
  }
}

